<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.BusinessRegistrationMapper">
	<select id="selectBusinessRegistrationByPk">
		SELECT 
			BR_NUMBER,
			USER_NAME,
			COM_NAME,
			FILE_PATH
		FROM BUSINESSREGISTRATION
		WHERE BR_NUMBER = #{brNumber}
	</select>
	
	
	<select id="selectBusinessRegistrationList">
			SELECT 
			BR_NUMBER,
			USER_NAME,
			COM_NAME,
			FILE_PATH
		FROM BUSINESSREGISTRATION
		ORDER BY BR_NUMBER
	</select>
	
	
	  
	
	<insert id="insertBusinessregistration">
	   <selectKey resultType="string" keyProperty="brNumber" order="BEFORE">
            SELECT
             'BRG'||
             LPAD(NVL(TO_NUMBER(SUBSTR(MAX(BR_NUMBER), LENGTH('BRG')+1)),0) + 1, 6, '0')
           FROM BUSINESSREGISTRATION 
     </selectKey>
     
		INSERT INTO BUSINESSREGISTRATION (
			BR_NUMBER,
			USER_NAME,
			COM_NAME,
			FILE_PATH
		) VALUES (
			#{brNumber},
			#{userName},
			#{comName},
			#{filePath}
		)
	</insert>
	
	
	<update id="updateBusinessregistration">
		UPDATE BUSINESSREGISTRATION
		SET 
			COM_NAME = #{comName},
			FILE_PATH = #{filePath}
		WHERE BR_NUMBER = #{brNumber}
	</update>
	
	
	<delete id="deleteBusinessregistration">
		DELETE FROM BUSINESSREGISTRATION
		WHERE BR_NUMBER = #{brNumber}
	</delete>
	
</mapper>