<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.CompanyOpProfitMapper">
	
	<select id="selectCompanyOpProfitInfoById" resultType="kr.or.ddit.dto.CompanyOpProfitDTO">
		  SELECT 
	        COM_PROFIT_YEAR AS comProfitYear,
	        COM_OPERATING_PROFIT AS comOperatingProfit,
	        ROUND(
	            (TO_NUMBER(COM_OPERATING_PROFIT) - LAG(TO_NUMBER(COM_OPERATING_PROFIT)) OVER (PARTITION BY USER_ID ORDER BY COM_PROFIT_YEAR)) /
	            NULLIF(LAG(TO_NUMBER(COM_OPERATING_PROFIT)) OVER (PARTITION BY USER_ID ORDER BY COM_PROFIT_YEAR), 0) * 100,
	            2
	        ) AS growthRatePercent,
	        ROUND(AVG(TO_NUMBER(COM_OPERATING_PROFIT)) OVER (PARTITION BY USER_ID), 2) AS avgOperatingProfit
	    FROM TEAM1_202501F.COMPANY_OP_PROFIT
	    WHERE USER_ID = #{userId}
	    ORDER BY COM_PROFIT_YEAR
	</select>

</mapper>