<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.CompanyMapper">
	<select id="selectCompanyList">
		SELECT 
			USER_ID, MEM_NAME, MEM_EMAIL, MEM_BIR, MEM_TEL, MEM_ADD1, MEM_ADD2, MEM_IMG FROM MEMBER
	</select>
	
	<select id="selectCompanyById" resultType="CompanyVO">
		SELECT
			U.USER_ID            
			, U.USER_PASSWORD      
			, U.USER_ROLE          
			, U.USER_WITHDRAW_DATE 
			, U.USER_STATUS        
			, U.USER_ENABLED       
			, C.COM_NAME           
			, C.COM_INFO           
			, C.COM_NUM            
			, C.COM_EMAIL          
			, C.COM_URL            
			, C.COM_CREATE_YEAR    
			, C.COM_MEM            
			, C.COM_LOGO           
			, C.COM_PAYMENT        
			, C.INDUSTRY_TYPE      
	    FROM COMPANY C
	    JOIN USERS U
	      ON C.USER_ID = U.USER_ID
	    WHERE C.USER_ID = #{userId}
	</select>
	
	<insert id="insertCompany">
		INSERT INTO COMPANY (
		    USER_ID, 
		    COM_NAME, 
		    COM_INFO, 
		    COM_NUM, 
		    COM_EMAIL, 
		    COM_URL, 
		    COM_CREATE_YEAR, 
		    COM_MEM, 
		    COM_LOGO, 
		    COM_PAYMENT, 
		    INDUSTRY_TYPE)
		VALUES(
		    #{userId}, 
		    #{comName}, 
		    #{comInfo},
		    #{comNum}, 
		    #{comEmail}, 
		    #{comUrl}, 
		    #{comCreateYear}, 
		    #{comMem}, 
		    #{comLogo}, 
		    #{comPayment}, 
		    #{industryType}
		)
			
	</insert>
	
	
	
</mapper>