<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.JobMapper">

<insert id="insertJob">
		INSERT INTO JOB (
		JOB_CODE
		,TOP_JOB_CODE
		JOB_NAME) VALUES (
		 #{jobCode}
		,#{topJobCode}
		, #{JobName})
	</insert>

	<select id="selectJobList">
		SELECT 
		 JOB_CODE
		, TOP_JOB_CODE
		, JOB_NAME
		FROM JOB
	</select>

	<select id="selectJobByPk">
		SELECT 
		 JOB_CODE
		, TOP_JOB_CODE
		, JOB_NAME
		FROM JOB
		WHERE JOB_CODE = #{jobCode}
		AND TOP_JOB_CODE = #{topJobCode}
	</select>

	<update id="updateJob">
		UPDATE JOB
		SET JOB_NAME =#{jobName}
		 WHERE
		JOB_CODE = #{jobCode} 
		AND 
		TOP_JOB_CODE = #{topJobCode}
	</update>

	<delete id="deleteJob">
		DELETE FROM JOB
	   WHERE JOB_CODE = #{jobCode}
	  AND TOP_JOB_CODE = #{topJobCode}
	</delete>
</mapper>