<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.JobMapper">

	<insert id="insertJob">
		<selectKey resultType="string" keyProperty="jobCode"
			order="BEFORE">
			SELECT
			'JOBS'||
			LPAD(NVL(TO_NUMBER(SUBSTR(MAX(JOB_CODE), LENGTH('JOBS' ) + 1)), 0) + 1, 6, '0')
			FROM JOB
		</selectKey>
		INSERT INTO JOB (
		JOB_CODE
		, TOP_JOB_CODE
		, JOB_NAME
		) VALUES (
		#{jobCode}
		, #{topJobCode}
		, #{jobName}
		)
	</insert>

	<select id="selectJobList">
		SELECT
		JOB_CODE
		, TOP_JOB_CODE
		, JOB_NAME
		FROM JOB
	</select>

	<select id="selectJobByPk">
		SELECT
		JOB_CODE
		, TOP_JOB_CODE
		, JOB_NAME
		FROM JOB
		WHERE
		JOB_CODE = #{jobCode}
	</select>

	<update id="updateJob">
		UPDATE JOB
		SET
		TOP_JOB_CODE = #{topJobCode}
		, JOB_NAME =
		#{jobName}
		WHERE JOB_CODE = #{jobCode}
	</update>

	<delete id="deleteJob">
		DELETE FROM JOB
		WHERE JOB_CODE = #{jobCode}
	</delete>
</mapper>