<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.MemberMapper">
	
	<select id="selectMemberById" resultType="MemberVO">
		SELECT
	      B.USER_ID AS USER_ID
	      , B.USER_PASSWORD    
	      , B.USER_ROLE        
	      , B.USER_WITHDRAW_DATE 
	      , B.USER_STATUS      
	      , B.USER_ENABLED     
	      , A.MEM_NAME         
	      , A.MEM_EMAIL        
	      , TO_CHAR(TO_DATE(A.MEM_BIR, 'YYYYMMDD'), 'YYYY-MM-DD') AS MEM_BIR          
	      , A.MEM_TEL          
	      , A.MEM_ADD1         
	      , A.MEM_ADD2         
	      , A.MEM_IMG          
	    FROM MEMBER A
	    JOIN USERS  B ON A.USER_ID = B.USER_ID
	    WHERE B.USER_ID = #{userId}
	</select>
	
	
	
	<select id="selectMemberList" resultType="MemberVO">
	
		SELECT
	      B.USER_ID AS USER_ID
	      , B.USER_PASSWORD    
	      , B.USER_ROLE        
	      , B.USER_WITHDRAW_DATE 
	      , B.USER_STATUS      
	      , B.USER_ENABLED     
	      , A.MEM_NAME         
	      , A.MEM_EMAIL        
	      , TO_CHAR(TO_DATE(A.MEM_BIR, 'YYYYMMDD'), 'YYYY-MM-DD') AS MEM_BIR          
	      , A.MEM_TEL          
	      , A.MEM_ADD1         
	      , A.MEM_ADD2         
	      , A.MEM_IMG          
	    FROM MEMBER A
	    JOIN USERS  B ON A.USER_ID = B.USER_ID
	</select>
	
	<select id="selectMyPageInfo">
	SELECT 
	    m.USER_ID AS userId
	    , m.MEM_NAME AS memName
	    , m.MEM_EMAIL AS memEmail
	    , m.MEM_BIR AS memBir
	    , m.MEM_TEL AS memTel
	    , m.MEM_ADD1 AS memAdd1
	    , m.MEM_ADD2 AS memAdd2
	    , m.MEM_IMG AS memImg
	    , m.RESUME_NO AS resumeNo
        , (SELECT RESUME_NAME FROM RESUME WHERE m.RESUME_NO = RESUME_NO) AS resumeName
	    , (SELECT JOB_NAME FROM JOB WHERE m.PREFERRED_POSITION = JOB_CODE) AS preferredPosition
	    , m.PREFERRED_POSITION AS prefferedPositionCode
	    , m.MEM_GENDER AS memGender
	    , (SELECT COUNT(PROPOSAL_CODE) FROM PROPOSAL WHERE USER_ID = m.USER_ID) AS COUNT_PROPOSAL
	    , (SELECT COUNT(SCRAB_USER_DATE) FROM SCRAB_USER WHERE USER_ID = m.USER_ID) AS COUNT_SCRAB
	    , (SELECT COUNT(READ_RESUME_NO) FROM READ_RESUME WHERE RESUME_NO = m.RESUME_NO) AS COUNT_READ_RESUME
	    , (SELECT COUNT(PRJ_ANNC_NO) FROM PRJ_ANNC_BBS WHERE USER_ID = m.USER_ID) AS COUNT_PRJ_ANNC
	    
	    ,(SELECT COUNT(APPLICANT_ID) FROM APPLICANT WHERE USER_ID = m.USER_ID) AS COUNT_APPLICATED
	    ,(SELECT COUNT(*) 
	     FROM APPLICANT_RECORD ar
	     JOIN APPLICANT a ON ar.APPLICANT_ID = a.APPLICANT_ID
	     JOIN RECRUIT_PROCESS rp ON ar.RECRUIT_PROCESS_NO = rp.RECRUIT_PROCESS_NO
	     WHERE a.USER_ID = m.USER_ID
	       AND rp.RECRUIT_PROCESS_TYPE = 'RERP-003'
	       AND ar.STEP_PASS_YN = 'Y'
	    ) AS COUNT_PASS_RERP003
	   
	    , -- 2) PASSER 테이블 합격 개수
	    (SELECT COUNT(*) 
	     FROM PASSER p
	     JOIN APPLICANT a ON p.APPLICANT_ID = a.APPLICANT_ID
	     WHERE a.USER_ID = m.USER_ID
	    ) AS COUNT_PASSER
	    
	    , -- 3) FAILED_YN = 'Y' 개수
	    (SELECT COUNT(*)
	     FROM APPLICANT_RECORD ar
	     JOIN APPLICANT a ON ar.APPLICANT_ID = a.APPLICANT_ID
	     WHERE a.USER_ID = m.USER_ID
	       AND ar.FAILED_YN = 'Y'
	    ) AS COUNT_FAILED
        , (
            SELECT cc.CODE_NAME
            FROM CAREER c
            JOIN RESUME r ON c.RESUME_NO = r.RESUME_NO
            JOIN CMN_CODE cc ON cc.CODE_DETAIL_NO = c.CAREER_YEAR
            WHERE r.RESUME_NO = m.RESUME_NO
            FETCH FIRST 1 ROWS ONLY
        ) AS CAREER_YEAR_NAME
	FROM MEMBER m
	WHERE m.USER_ID = #{userId}
	</select>
	
	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO MEMBER(
			USER_ID
			, MEM_NAME
			, MEM_EMAIL
			, MEM_BIR
			, MEM_TEL
			, MEM_ADD1
			, MEM_ADD2
			, MEM_IMG
			, MEM_GENDER
		) VALUES(
			#{userId}
			, #{memName}
			, #{memEmail}
		 	, #{memBir}
		 	, #{memTel}
		 	, #{memAdd1}
		 	, #{memAdd2}
		 	, #{memImg}
		 	, #{memGender}
		)
	</insert>
	
	
	<update id="updateMember">
		UPDATE MEMBER
		SET 
			MEM_NAME = #{memName}
			, MEM_EMAIL = #{memEmail}
			, MEM_BIR = #{memBir}
			, MEM_TEL = #{memTel}
			, MEM_ADD1 = #{memAdd1}
			, MEM_ADD2 = #{memAdd2}
			, MEM_IMG = #{memImg}
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="updateMemberInMyPage">
		UPDATE MEMBER
		SET 
			MEM_NAME = #{memName}
			, MEM_BIR = #{memBir}
			, MEM_TEL = #{memTel}
			, MEM_ADD1 = #{memAdd1}
			, MEM_ADD2 = #{memAdd2}
			, PREFERRED_POSITION = #{preferredPosition}
			, MEM_IMG = #{memImg}
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="updateMainResume">
		UPDATE MEMBER
		SET RESUME_NO = #{resumeNo}
		WHERE USER_ID = #{userId}
	</update>
	
	<delete id="deleteMember">
		DELETE FROM MEMBER WHERE USER_ID = #{userId}
	</delete>
	
	<resultMap id="userResultMap" type="kr.or.ddit.dto.UserDTO">
    <id property="userId" column="USER_ID"/>
    <result property="userRole" column="USER_ROLE"/>
    <result property="userType" column="USER_TYPE"/>
    <result property="userName" column="USER_NAME"/>
    <result property="userEmail" column="USER_EMAIL"/>
    <result property="userPhone" column="USER_PHONE"/>
    <result property="canAccessAllProjects" column="CAN_ACCESS_ALL_PROJECTS"/>
    <collection property="accessibleProjects" ofType="kr.or.ddit.dto.ProjectDTO">
        <result property="projectNo" column="PROJECT_NO"/>
        <result property="projectName" column="PROJECT_NAME"/>
        <result property="authorityCode" column="AUTHORITY_CODE"/>
        <result property="userPosition" column="USER_POSITION"/>
    </collection>
</resultMap>

<select id="selectUserWithProjects" resultMap="userResultMap" parameterType="string">
    SELECT 
        MEM.USER_ID AS USER_ID,
        'ROLE_USER' AS USER_ROLE,
        'MEMBER' AS USER_TYPE,
        MEM.MEM_NAME AS USER_NAME,
        MEM.MEM_EMAIL AS USER_EMAIL,
        MEM.MEM_TEL AS USER_PHONE,
        'false' AS CAN_ACCESS_ALL_PROJECTS,
        PM.PRJ_NO AS PROJECT_NO,
        (SELECT PRJ.PROJECT_NAME FROM PROJECT PRJ WHERE PRJ.PRJ_NO = PM.PRJ_NO) AS PROJECT_NAME,
        PM.AUTHORITY_CODE,
        PM.USER_POSITION
    FROM MEMBER MEM
    LEFT OUTER JOIN PRJ_MEM PM ON PM.USER_ID = MEM.USER_ID
    WHERE MEM.USER_ID = #{userId}
</select>
	
<select id="selectCompanyWithProjects" resultMap="userResultMap" parameterType="string">
	SELECT 
	    USER_ID
	    , COM_NAME AS USER_NAME
	    , 'ROLE_COMPANY' AS USER_ROLE
	    , 'COMPANY' AS USER_TYPE
	    , COM_EMAIL AS USER_EMAIL
	    , 'true' AS CAN_ACCESS_ALL_PROJECTS 
	FROM COMPANY COM
	WHERE COM.USER_ID = #{userId}
</select>
</mapper>