<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.PaymentLogMapper">

	<select id="filterLogHistory" resultType="kr.or.ddit.vo.common.PaymentLogVO">
    SELECT
      used_at      AS usedAt,
      used_count   AS usedCount,
      email_address   AS emailAddress,
      subject,
      message_body    AS messageBody
    FROM payment_log
    <where>
    
      <choose>
        <!-- 전체 검색: 3개 컬럼 모두 OR 검색 -->
        <when test="key == 'all'">
          (email_address   LIKE #{keyword}
           OR subject         LIKE #{keyword}
           OR message_body    LIKE #{keyword})
        </when>
        <!-- 이메일만 -->
        <when test="key == 'emailAddress'">
          email_address LIKE #{keyword}
        </when>
        <!-- 제목만 -->
        <when test="key == 'subject'">
          subject LIKE #{keyword}
        </when>
        <!-- 내용만 -->
        <when test="key == 'messageBody'">
          message_body LIKE #{keyword}
        </when>
        <!-- 기타: 전체 조회 -->
        <otherwise>
          1 = 1
        </otherwise>
      </choose>
    </where>
    ORDER BY used_at DESC
  </select>
  
<select id="selectLoghistoryByUserId" resultType="PaymentLogVO">
    SELECT l.*
    FROM PAYMENT_LOG l
    JOIN PAYMENT p ON l.PAYMENT_NO = p.PAYMENT_NO
    WHERE p.USER_ID = #{userId}
    ORDER BY l.USED_AT DESC
</select>



	<select id="selectLog">
		SELECT
		LOG_ID
		, PAYMENT_NO
		, PRODUCT_NO
		, USED_COUNT
		,
		USED_AT
		, EMAIL_ADDRESS
		, SUBJECT
		, MESSAGE_BODY
		FROM PAYMENT_LOG
	</select>

	<select id="selectLoghistory">
		SELECT
		PAYMENT_NO
		, USED_COUNT
		, USED_AT
		, EMAIL_ADDRESS
		, SUBJECT
		, MESSAGE_BODY
		FROM PAYMENT_LOG
		WHERE PAYMENT_NO = #{paymentNo}
	</select>

	<select id="selectLogByPk">
		SELECT
		LOG_ID
		, PAYMENT_NO
		, PRODUCT_NO
		, USED_COUNT
		,
		USED_AT
		, EMAIL_ADDRESS
		, SUBJECT
		, MESSAGE_BODY
		FROM PAYMENT_LOG
		WHERE
		LOG_ID = #{logId}
	</select>

	<insert id="insertLog">
		<selectKey resultType="string" keyProperty="logId"
			order="BEFORE">
			SELECT
			'PLOG'||
			LPAD(NVL(TO_NUMBER(SUBSTR(MAX(LOG_ID),
			LENGTH('PLOG' ) + 1)), 0) + 1, 6, '0')
			FROM PAYMENT_LOG
		</selectKey>
		INSERT INTO PAYMENT_LOG (
		LOG_ID
		, PAYMENT_NO
		, PRODUCT_NO
		, USED_COUNT
		,
		USED_AT
		, EMAIL_ADDRESS
		, SUBJECT
		, MESSAGE_BODY
		) VALUES (
		#{logId}
		,
		#{paymentNo}
		, #{productNo}
		, #{usedCount}
		, SYSDATE
		, #{emailAddress}
		,
		#{subject}
		, #{messageBody}
		)
	</insert>

	<update id="updateLog">
		UPDATE PAYMENT_LOG
		SET
		PAYMENT_NO = #{paymentNo}
		,
		PRODUCT_NO = #{productNo}
		, USED_COUNT = #{usedCount}
		, USED_AT =
		#{usedAt}
		, EMAIL_ADDRESS = #{emailAddress}
		, SUBJECT = #{subject}
		,
		MESSAGE_BODY = #{messageBody}
		WHERE LOG_ID = #{logId}
	</update>

	<delete id="deleteLog">
		DELETE FROM PAYMENT_LOG
		WHERE LOG_ID = #{logId}
	</delete>
</mapper>