<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.PaymentListMapper">

	<insert id="insertPayment">
	<selectKey resultType="string" keyProperty="paymentReceipt" order="BEFORE">
    SELECT
        'PAML'||
        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(PAYMENT_RECEIPT), LENGTH('PAML' ) + 1)), 0) + 1, 6, '0')
    FROM PAYMENT_LIST
</selectKey>
		INSERT INTO PAYMENT_LIST (
		PAYMENT_RECEIPT
		, PAYMENT_NO
		, PAYMENT_START_DAY
		, PAYMENT_AMOUNT
		, PAYMENT_STATUS
		, PAYMENT_APPROVALNUM
		) VALUES (
		#{paymentReceipt}
		, #{paymentNo}
		, #{paymentStartDay}
		, #{paymentAmount}
		, #{paymentStatus}
		, #{paymentApprovalnum}
		)
	</insert>

	<select id="selectPaymentList">
		SELECT
		PAYMENT_RECEIPT
		, PAYMENT_NO
		, PAYMENT_START_DAY
		, PAYMENT_AMOUNT
		, PAYMENT_STATUS
		, PAYMENT_APPROVALNUM
		FROM PAYMENT_LIST
	</select>


	<select id="selectPaymentByPk">
		SELECT
		PAYMENT_RECEIPT
		, PAYMENT_NO
		, PAYMENT_START_DAY
		, PAYMENT_AMOUNT
		, PAYMENT_STATUS
		, PAYMENT_APPROVALNUM
		FROM PAYMENT_LIST
		WHERE PAYMENT_RECEIPT = #{paymentReceipt}
	</select>

	<update id="updatePayment">
		UPDATE PAYMENT_LIST
		SET
		PAYMENT_NO = #{paymentNo}
		, PAYMENT_START_DAY = #{paymentStartDay}
		, PAYMENT_AMOUNT = #{paymentAmount}
		, PAYMENT_STATUS = #{paymentStatus}
		, PAYMENT_APPROVALNUM = #{paymentApprovalnum}
		WHERE PAYMENT_RECEIPT = #{paymentReceipt}
	</update>

	<delete id="deletePayment">
		DELETE FROM PAYMENT_LIST
		WHERE PAYMENT_RECEIPT = #{paymentReceipt}
	</delete>

</mapper>