<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.SalaryMapper">
	
	<select id="selectSalary" resultType="kr.or.ddit.vo.common.SalaryVO">
		 SELECT
	        SALARY_ID,
	        USER_ID,
	        JOB_CODE,
	        SALARY_MIN,
	        SALARY_MAX,
	        CREATE_DATE
	    FROM SALARY
	    WHERE USER_ID = #{userId}
	</select>

	<select id="selectSalaryList" resultType="kr.or.ddit.vo.common.SalaryVO">
		SELECT
			SALARY_ID,
			USER_ID,
			JOB_CODE,
			SALARY_MIN,
			SALARY_MAX,
			CREATE_DATE
		 FROM SALARY
	</select>
	
	<select id="selectSalaryRangeList" resultType="kr.or.ddit.vo.common.SalaryVO">
		 <![CDATA[
		 SELECT 
		 	SALARY_ID,
	        USER_ID,
	        JOB_CODE,
	        SALARY_MIN,
	        SALARY_MAX,
	        CREATE_DATE
		  FROM SALARY
		  WHERE TO_NUMBER(SALARY_MIN) >= #{salaryMin}
		    AND TO_NUMBER(SALARY_MAX) <= #{salaryMax}
		   ]]>
	</select>
	
	
	<select id="selectSalaryComNameList" resultType="kr.or.ddit.vo.common.SalaryVO">
		SELECT
		    s.SALARY_ID,
		    s.USER_ID,
		    s.JOB_CODE,
		    s.SALARY_MIN,
		    s.SALARY_MAX,
		    s.CREATE_DATE
		  FROM SALARY s
		  JOIN COMPANY c
		    ON s.USER_ID = c.USER_ID
		  WHERE c.COM_NAME = #{comName}
	</select>
	
	
	<insert id="insertSalary">
		 INSERT INTO SALARY (
		      SALARY_ID,
		      USER_ID,
		      JOB_CODE,
		      SALARY_MIN,
		      SALARY_MAX,
		      CREATE_DATE
		      
	    ) VALUES (
		      #{salaryId},
		      #{userId},
		      #{jobCode},
		      #{salaryMin},
		      #{salaryMax},
  			  TO_CHAR(SYSDATE, 'YYYYMMDD')
	    )
	</insert>

	<update id="updateSalary">
		UPDATE SALARY
		    SET
		      SALARY_ID   = #{salaryId},
		      JOB_CODE    = #{jobCode},
		      SALARY_MIN  = #{salaryMin},
		      SALARY_MAX  = #{salaryMax}
		WHERE  USER_ID    = #{userId}
	</update>
	
	
	<delete id="deleteSalary">
		DELETE FROM SALARY
    		WHERE SALARY_ID = #{salaryId}
	</delete>
</mapper>