<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.SalaryMapper">
	
	
	<select id="selectSalaryByPk">
		SELECT 
			SALARY_ID
			, USER_ID
			, CODE_DETAIL_NO
			, SALARY_MIN
			, SALARY_MAX
			, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
		FROM SALARY
		WHERE SALARY_ID = #{salaryId}
	
	</select>
	

	<select id="selectSalaryList" resultType="kr.or.ddit.vo.common.SalaryVO">
		SELECT 
			SALARY_ID
			, USER_ID
			, CODE_DETAIL_NO
			, SALARY_MIN
			, SALARY_MAX
			,  TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
		FROM SALARY
	</select>
	
	
	
	<select id="selectSalaryByCompany" resultType="kr.or.ddit.vo.common.SalaryVO">
		 SELECT
	        SALARY_ID,
	        USER_ID,
	        CODE_DETAIL_NO,
	        SALARY_MIN,
	        SALARY_MAX,
	        TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
	    FROM SALARY
	    WHERE USER_ID = #{userId}
	</select>
	
	<select id="searchSalaryRangeList" resultType="kr.or.ddit.vo.common.SalaryVO">
		 <![CDATA[
		 SELECT 
		 	SALARY_ID,
	        USER_ID,
	        CODE_DETAIL_NO,
	        SALARY_MIN,
	        SALARY_MAX,
	        TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
		  FROM SALARY
		  WHERE TO_NUMBER(SALARY_MIN) >= #{salaryMin}
		    AND TO_NUMBER(SALARY_MAX) <= #{salaryMax}
		   ]]>
	</select>
	
	
	<select id="searchSalaryComNameList" resultType="kr.or.ddit.vo.common.SalaryVO">
		SELECT
		    s.SALARY_ID,
		    s.USER_ID,
		    s.CODE_DETAIL_NO,
		    s.SALARY_MIN,
		    s.SALARY_MAX,
		    TO_CHAR(s.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
		  FROM SALARY s
		  JOIN COMPANY c
		    ON s.USER_ID = c.USER_ID
		  WHERE c.COM_NAME = #{comName}
	</select>
	
	
	<insert id="insertSalary">
	<selectKey resultType="string" keyProperty="salaryId" order="BEFORE">
		    SELECT
		        'SLRY'||
		        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(SALARY_ID), LENGTH('SLRY' ) + 1)), 0) + 1, 6, '0')
		    FROM SALARY
		</selectKey>
		INSERT INTO SALARY (
				SALARY_ID
				, USER_ID
				, CODE_DETAIL_NO
				, SALARY_MIN
				, SALARY_MAX
				, CREATE_DATE
			) VALUES (
			#{salaryId}
				, #{userId}
				, #{codeDetailNo}
				, #{salaryMin}
				, #{salaryMax}
				, SYSDATE
		)
	</insert>

	<update id="updateSalary">
		UPDATE SALARY
		    SET
		      CODE_DETAIL_NO = #{codeDetailNo},
		      SALARY_MIN  = #{salaryMin},
		      SALARY_MAX  = #{salaryMax},
		      CREATE_DATE = SYSDATE
		WHERE SALARY_ID = #{salaryId}
     		 AND USER_ID = #{userId}
	</update>
	
	
	<delete id="deleteSalary">
		DELETE FROM SALARY
    		WHERE SALARY_ID = #{salaryId}
	</delete>
	
	
	<select id="selectSalaryListbyId" resultType="kr.or.ddit.vo.common.SalaryVO">
		SELECT 
			SALARY_ID
			, USER_ID
			, CODE_DETAIL_NO
			, SALARY_MIN
			, SALARY_MAX
			,  TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
		FROM SALARY
		WHERE  USER_ID = #{userId}
		ORDER BY SALARY_ID
	</select>
	
	<select id="selectSalaryByUserAndRank" resultType="kr.or.ddit.vo.common.SalaryVO">
		SELECT 
			SALARY_ID
			, USER_ID
			, CODE_DETAIL_NO
			, SALARY_MIN
			, SALARY_MAX
			,  TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
		FROM SALARY
		WHERE  USER_ID = #{userId} AND CODE_DETAIL_NO = #{codeDetailNo}
	</select>
	
	
	<select id="selectSalaryStatisticsById" resultType="kr.or.ddit.dto.CompanySalaryDTO">
		  WITH salary_data AS (
		  SELECT
		    s.salary_id,
		    s.user_id,
		    s.code_detail_no,
		    (TO_NUMBER(s.salary_min) + TO_NUMBER(s.salary_max)) / 2 AS salary_mid,
		    s.create_date,
		    s.salary_min,
			s.salary_max,
		    c.industry_type,
		    c.com_name
		  FROM
		    SALARY  s
		    LEFT JOIN COMPANY c
		      ON s.user_id = c.user_id
		  WHERE
		    s.user_id =  #{userId}
		)
		SELECT
		  sd.salary_id,
		  sd.user_id,
		  sd.code_detail_no,
		  sd.salary_mid,
		  sd.salary_min,
          sd.salary_max,
		  sd.create_date,
		  sd.industry_type,
		  sd.com_name,
		  
		  ROUND(
		    AVG(sd.salary_mid) OVER (), 0) AS salaryAvgAll,
		  
		  ROUND(
		    AVG(
		      CASE 
		        WHEN sd.code_detail_no BETWEEN 'RANK-001' AND 'RANK-006'
		        THEN sd.salary_mid 
		      END
		    ) OVER (),
		    0
		  ) AS salaryAvgExclExec,
		
		  ROUND(
		    AVG(
		      CASE 
		        WHEN sd.code_detail_no BETWEEN 'RANK-007' AND 'RANK-011'
		        THEN sd.salary_mid 
		      END
		    ) OVER (),
		    0
		  ) AS salaryAvgExec,
		  
		
		  ROUND(
		    AVG(sd.salary_mid) OVER (PARTITION BY sd.code_detail_no), 0) AS avgByRank
		
		FROM
		  salary_data sd
		ORDER BY
		  sd.code_detail_no, sd.salary_id
	</select>


<!-- <select id="selectSalaryListAllCompany" resultType="hashMap">
		SELECT 
		    C.INDUSTRY_TYPE AS INDUSTRY_TYPE,
		    C.COM_NAME AS COM_NAME,
		    C.COM_MEM AS COM_MEM,
		    C.COM_LOGO AS COM_LOGO,
		    C.USER_ID AS USER_ID,
		    ROUND(AVG((TO_NUMBER(S.SALARY_MIN) + TO_NUMBER(S.SALARY_MAX)) / 2), 0) AS SALARY_AVG
		FROM COMPANY C
		LEFT JOIN SALARY S 
		    ON C.USER_ID = S.USER_ID
		    AND TO_NUMBER(SUBSTR(code_detail_no, 6)) BETWEEN 1 AND 6
		GROUP BY 
		    C.INDUSTRY_TYPE,
		    C.COM_NAME,
		    C.COM_MEM,
		    C.COM_LOGO,
		    C.USER_ID
		ORDER BY 
		    C.COM_NAME
	</select> -->
	
	
	<select id="selectSimilarCompanySalariesList" resultType="hashMap">
		SELECT
		    C.INDUSTRY_TYPE AS INDUSTRY_TYPE,
		    C.COM_NAME AS COM_NAME,
		    C.COM_MEM AS COM_MEM,
		    C.COM_LOGO AS COM_LOGO,
		    C.USER_ID AS USER_ID,
		
		  
		  ROUND(
		    AVG(
		      CASE
		        WHEN s.CODE_DETAIL_NO BETWEEN 'RANK-001' AND 'RANK-006'
		        THEN (TO_NUMBER(s.SALARY_MIN) + TO_NUMBER(s.SALARY_MAX)) / 2
		      END
		    ),
		    0
		  ) AS salaryAvgExclExec,
		
		
		  ROUND(
		    AVG(
		      (TO_NUMBER(s.SALARY_MIN) + TO_NUMBER(s.SALARY_MAX)) / 2
		    ),
		    0
		  ) AS salaryAvgExec
		
		FROM COMPANY c
		
		LEFT JOIN SALARY s
		  ON c.USER_ID = s.USER_ID
		
		WHERE
		  c.INDUSTRY_TYPE = #{industryType}
		
		GROUP BY
		  c.INDUSTRY_TYPE,
		  c.COM_NAME,
		  c.COM_MEM,
		  C.COM_LOGO,
		  c.USER_ID
		
		ORDER BY
		  salaryAvgExclExec DESC,
		  c.COM_NAME
	</select>
	
	
	
<select id="selectSalaryListAllCompanyPaged" parameterType="map" resultType="hashMap">
SELECT * FROM (
    SELECT ROWNUM rnum, a.* FROM (
        SELECT 
            C.INDUSTRY_TYPE,
            C.COM_NAME,
            C.COM_MEM,
            C.COM_LOGO,
            C.USER_ID,
            ROUND(AVG((TO_NUMBER(S.SALARY_MIN) + TO_NUMBER(S.SALARY_MAX)) / 2), 0) AS SALARY_AVG
        FROM COMPANY C
        LEFT JOIN SALARY S 
            ON C.USER_ID = S.USER_ID
            AND TO_NUMBER(SUBSTR(S.CODE_DETAIL_NO, 6)) BETWEEN 1 AND 6
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND C.COM_NAME LIKE '%' || #{keyword} || '%'
        </if>
        GROUP BY 
            C.INDUSTRY_TYPE,
            C.COM_NAME,
            C.COM_MEM,
            C.COM_LOGO,
            C.USER_ID
        <if test="minSalary != null or maxSalary != null">
        HAVING 1=1
            <if test="minSalary != null">
                <![CDATA[
                AND ROUND(AVG((TO_NUMBER(S.SALARY_MIN) + TO_NUMBER(S.SALARY_MAX)) / 2),0) >= #{minSalary}
                ]]>
            </if>
            <if test="maxSalary != null">
                <![CDATA[
                AND ROUND(AVG((TO_NUMBER(S.SALARY_MIN) + TO_NUMBER(S.SALARY_MAX)) / 2),0) <= #{maxSalary}
                ]]>
            </if>
        </if>
        ORDER BY 
            <choose>
                <when test="sort == 'high'">
                    SALARY_AVG DESC
                </when>
                <when test="sort == 'low'">
                    SALARY_AVG ASC
                </when>
                <otherwise>
                    C.COM_NAME
                </otherwise>
            </choose>
    ) a
    WHERE ROWNUM &lt;= #{endRow}
)
WHERE rnum &gt; #{startRow}
</select>




	
	
<select id="countSalaryListAllCompany" parameterType="map" resultType="int">
SELECT COUNT(*) FROM (
    SELECT C.USER_ID
    FROM COMPANY C
    LEFT JOIN SALARY S 
        ON C.USER_ID = S.USER_ID
        AND TO_NUMBER(SUBSTR(S.CODE_DETAIL_NO, 6)) BETWEEN 1 AND 6
    WHERE 1=1
    <if test="keyword != null and keyword != ''">
        AND UPPER(C.COM_NAME) LIKE UPPER('%' || #{keyword} || '%')
    </if>
    GROUP BY C.USER_ID
    HAVING 1=1
    <if test="minSalary != null">
        <![CDATA[
        AND ROUND(AVG((TO_NUMBER(S.SALARY_MIN) + TO_NUMBER(S.SALARY_MAX)) / 2),0) >= #{minSalary}
        ]]>
    </if>
    <if test="maxSalary != null">
        <![CDATA[
        AND ROUND(AVG((TO_NUMBER(S.SALARY_MIN) + TO_NUMBER(S.SALARY_MAX)) / 2),0) <= #{maxSalary}
        ]]>
    </if>
)
</select>


<select id="selectCompanySalariesRankByIndu" resultType="hashMap">
    SELECT
	    c.INDUSTRY_TYPE,
	    c.COM_NAME,
	    c.COM_MEM,
	    c.COM_LOGO,
	    c.USER_ID,
	    ROUND(
	        AVG(
	            CASE
	                WHEN s.CODE_DETAIL_NO BETWEEN 'RANK-001' AND 'RANK-006'
	                THEN (TO_NUMBER(s.SALARY_MIN) + TO_NUMBER(s.SALARY_MAX)) / 2
	            END
	        ), 0
	    ) AS salaryAvgExclExec,
	    ROUND(
	        AVG((TO_NUMBER(s.SALARY_MIN) + TO_NUMBER(s.SALARY_MAX)) / 2), 0
	    ) AS salaryAvgExec
	FROM COMPANY c
	LEFT JOIN SALARY s
	    ON c.USER_ID = s.USER_ID
	WHERE c.INDUSTRY_TYPE = #{industryType}
	GROUP BY
	    c.INDUSTRY_TYPE,
	    c.COM_NAME,
	    c.COM_MEM,
	    c.COM_LOGO,
	    c.USER_ID
	HAVING
	    ROUND(
	        AVG(
	            CASE
	                WHEN s.CODE_DETAIL_NO BETWEEN 'RANK-001' AND 'RANK-006'
	                THEN (TO_NUMBER(s.SALARY_MIN) + TO_NUMBER(s.SALARY_MAX)) / 2
	            END
	        ), 0
	    ) IS NOT NULL
	ORDER BY
	    salaryAvgExclExec DESC,
	    c.COM_NAME
</select>

<select id="selectCompanySalaryRankByIndu" resultType="hashMap">
 SELECT *
	FROM (
	    SELECT 
	        c.INDUSTRY_TYPE,
	        c.COM_NAME,
	        c.COM_MEM,
	        c.COM_LOGO,
	        c.USER_ID,
	        ROUND(
	            AVG(
	                CASE
	                    WHEN s.CODE_DETAIL_NO BETWEEN 'RANK-001' AND 'RANK-006'
	                    THEN (TO_NUMBER(s.SALARY_MIN) + TO_NUMBER(s.SALARY_MAX)) / 2
	                END
	            ), 0
	        ) AS salaryAvgExclExec,
	        ROUND(
	            AVG((TO_NUMBER(s.SALARY_MIN) + TO_NUMBER(s.SALARY_MAX)) / 2), 0
	        ) AS salaryAvgExec,
	        RANK() OVER (ORDER BY 
	            ROUND(
	                AVG(
	                    CASE
	                        WHEN s.CODE_DETAIL_NO BETWEEN 'RANK-001' AND 'RANK-006'
	                        THEN (TO_NUMBER(s.SALARY_MIN) + TO_NUMBER(s.SALARY_MAX)) / 2
	                    END
	                ), 0
	            ) DESC, 
	            c.COM_NAME
	        ) AS salary_rank
	    FROM COMPANY c
	    LEFT JOIN SALARY s
	        ON c.USER_ID = s.USER_ID
	    WHERE c.INDUSTRY_TYPE = #{industryType}
	    GROUP BY 
	        c.INDUSTRY_TYPE,
	        c.COM_NAME,
	        c.COM_MEM,
	        c.COM_LOGO,
	        c.USER_ID
	    HAVING
	        AVG(
	            CASE
	                WHEN s.CODE_DETAIL_NO BETWEEN 'RANK-001' AND 'RANK-006'
	                THEN (TO_NUMBER(s.SALARY_MIN) + TO_NUMBER(s.SALARY_MAX)) / 2
	            END
	        ) IS NOT NULL
	) ranked
	WHERE ranked.USER_ID = #{userId}
</select>

</mapper>