<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.or.ddit.mapper.common.ScrabRecruitmentMapper">
	
	<select id="selectScrabRecruitmentList">
		SELECT
			  USER_ID
			, RECRUITMENT_NO
			, SCRAB_RECUITMENT_DATE
		FROM SCRAB_RECRUITMENT
	</select>

	<select id="selectMyScrabRecruitmentList">
		SELECT
			  USER_ID
			, RECRUITMENT_NO
			, SCRAB_RECUITMENT_DATE
		FROM SCRAB_RECRUITMENT
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="checkRecruitScrab">
		SELECT
			 COUNT(SCRAB_RECUITMENT_DATE)
		FROM SCRAB_RECRUITMENT
		WHERE USER_ID = #{userId}
		AND RECRUITMENT_NO = #{recruitmentNo}
	</select>
	
	<insert id="insertScrabRecruitment">
		INSERT INTO SCRAB_RECRUITMENT (
			USER_ID
			, RECRUITMENT_NO
			, SCRAB_RECUITMENT_DATE
		) VALUES (
			#{userId}
			, #{recruitmentNo}
			, SYSDATE
		)
	</insert>

	<delete id="deleteScrabRecruitment">
		DELETE FROM SCRAB_RECRUITMENT
		WHERE USER_ID = #{userId}
		AND RECRUITMENT_NO = #{recruitmentNo}
	</delete>

</mapper>