<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.ScrabUserMapper">

<insert id="insertScrabUser">
		INSERT INTO SCRAB_USER (
		COMPANY_ID
		,USER_ID
		SCRAB_COMPANY_DATE) VALUES (
		 #{companyId}
		,#{userId}
		, SYSDATE)
	</insert>

	<select id="selectScrabUserList">
		SELECT 
		 COMPANY_ID
		, USER_ID
		, SCRAB_USER_DATE
		FROM SCRAB_USER
	</select>

	<select id="selectScrabUserByPk">
		SELECT 
		 COMPANY_ID
		, USER_ID
		, SCRAB_USER_DATE
		FROM SCRAB_USER
		WHERE COMPANY_ID = #{companyId}
		AND USER_ID = #{userId}
	</select>

	<update id="updateScrabUser">
		UPDATE SCRAB_USER
		SET SCRAB_USER_DATE =
		SYSDATE
		 WHERE
		CAMPANY_ID = #{companyId} 
		AND 
		USER_ID = #{userId}
	</update>

	<delete id="deleteScrabUser">
		DELETE FROM SCRAB_USER
	   WHERE COMPANY_ID = #{companyId}
	  AND USER_ID = #{userId}
	</delete>


</mapper>