<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.TopJobMapper">
	<insert id="insertTopJob">
	<selectKey resultType="string" keyProperty="topJobCode" order="BEFORE">
	    SELECT
	        'TJOB'||
	        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(TOP_JOB_CODE), LENGTH('TJOB' ) + 1)), 0) + 1, 6, '0')
	    FROM TOP_JOB
	</selectKey>
		INSERT INTO TOP_JOB (
		TOP_JOB_CODE
		, TOP_JOB_NAME
		) VALUES (
		#{topJobCode}
		, #{topJobName}
		)
	</insert>

	<resultMap id="TopJobWithJobVOListMap" type="kr.or.ddit.vo.common.TopJobVO">
	    <id property="topJobCode" column="topJobCode" />
	    <result property="topJobName" column="topJobName" />
	    <collection property="jobVO" ofType="kr.or.ddit.vo.common.JobVO">
	        <id property="jobCode" column="jobCode" />
	        <result property="topJobCode" column="jobTopJobCode" />
	        <result property="jobName" column="jobName" />
	    </collection>
	</resultMap>

	<select id="selectTopJobList" resultMap="TopJobWithJobVOListMap">
		SELECT
	        t.top_job_code     AS topJobCode,
	        t.top_job_name     AS topJobName,
	        j.job_code         AS jobCode,
	        j.top_job_code     AS jobTopJobCode,
	        j.job_name         AS jobName
	    FROM
	        top_job t
	    LEFT JOIN
	        job j ON t.top_job_code = j.top_job_code
	    ORDER BY t.top_job_code, j.job_code
	</select>

	<select id="selectTopJobByPk">
		SELECT
		TOP_JOB_CODE
		, TOP_JOB_NAME
		FROM TOP_JOB
		WHERE
		TOP_JOB_CODE = #{topJobCode}
	</select>

	<update id="updateTopJob">
		UPDATE TOP_JOB
		SET
		TOP_JOB_NAME = #{topJobName}
		WHERE TOP_JOB_CODE = #{topJobCode}
	</update>

	<delete id="deleteTopJob">
		DELETE FROM TOP_JOB
		WHERE TOP_JOB_CODE = #{topJobCode}
	</delete>
</mapper>