<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.common.UserMapper">
	<select id="selectUsersList">
		SELECT 
			USER_ID
			, USER_PASSWORD
			, USER_ROLE
			, USER_WITHDRAW_DATE
			, USER_STATUS
			, USER_ENABLED
		FROM USERS
	</select>

	<select id="selectUserById" resultType="UsersVO">
		SELECT 
			USER_ID
			, USER_PASSWORD
			, USER_ROLE
			, USER_WITHDRAW_DATE
			, USER_STATUS
			, USER_ENABLED 
		FROM USERS
		WHERE USER_ID = #{userId}
	</select>

	<insert id="insertUser">
		INSERT INTO USERS (
			USER_ID
			, USER_PASSWORD
			, USER_ROLE
			, USER_STATUS
			, USER_ENABLED
		) VALUES (
			#{userId}
			, #{userPassword}
			, 'ROLE_USER'
			, 'N'
			, 'Y'
		)
	</insert>
	
	<update id="updateUser">
		UPDATE USERS
		SET 
			USER_PASSWORD = #{userPassword}
			, USER_ROLE = #{userRole}
			, USER_WITHDRAW_DATE = #{userWithdrawDate}
			, USER_STATUS = #{userStatus}
			, USER_ENABLED = #{userEnabled}
		WHERE USER_ID = #{userId}
	</update>
	
	<delete id="deleteUser">
		DELETE FROM USERS
		WHERE USER_ID = #{userId}
	</delete>
	
	<select id="selectMemberByMail">
		SELECT 
		    USER_ID
		    , USER_PASSWORD
		    , USER_AUTHORITY
		    , USER_WITHDRAW_DATE
		    , USER_STATUS
		    , USER_ENABLED
		    , MEM_NAME
		    , MEM_EMAIL
		    , MEM_BIR
		    , MEM_TEL
		    , MEM_ADD1
		    , MEM_ADD2
		    , MEM_IMG
		FROM USERS NATURAL JOIN MEMBER
		WHERE MEM_EMAIL = #{memEmail};
	</select>

	<select id="existsById" resultType="int">
		SELECT COUNT(*)
		FROM USERS
		WHERE USER_ID = #{userId}
	</select>
	
</mapper>