<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.resume.IntroductionMapper">
	<select id="selectIntroductionList" resultType="kr.or.ddit.vo.resume.IntroductionVO">
		SELECT *
		  FROM INTRODUCTION
		 WHERE USER_ID = #{user_id}
		   AND INTRODUCTION_DELETE_DATE IS NULL
	</select>
	
		<resultMap id="introductionResultMap" type="kr.or.ddit.vo.resume.IntroductionVO">
	    <!-- 단일 필드 -->
	    <id property="introductionNo" column="INTRODUCTION_NO"/>
	    <result property="userId" column="USER_ID"/>
	    <result property="introductionName" column="INTRODUCTION_NAME"/>
	    <result property="introductionCreateDate" column="INTRODUCTION_CREATE_DATE"/>
	    <result property="introductionDeleteDate" column="INTRODUCTION_DELETE_DATE"/>
	    <result property="introductionSubmitYn" column="INTRODUCTION_SUBMIT_YN"/>
	
	    <!-- 컬렉션 필드 -->
	    <collection property="introductionQuestionList" ofType="kr.or.ddit.vo.resume.IntroductionQuestionVO">
	        <id property="questionNo" column="QUESTION_NO"/>
	        <result property="question" column="QUESTION"/>
	        <result property="content" column="CONTENT"/>
	    </collection>
	</resultMap>
		
	<select id="selectIntroductionDetail" resultMap="introductionResultMap">
		SELECT 
           I.INTRODUCTION_NO
           , I.USER_ID
           , I.INTRODUCTION_NAME
           , I.INTRODUCTION_CREATE_DATE
           , I.INTRODUCTION_DELETE_DATE
           , I.INTRODUCTION_SUBMIT_YN
           , Q.QUESTION_NO
           , Q.QUESTION
           , Q.CONTENT 
	  FROM INTRODUCTION I LEFT JOIN INTRODUCTION_QUESTION Q ON I.INTRODUCTION_NO = Q.INTRODUCTION_NO
	 WHERE I.INTRODUCTION_NO = #{introductionNo}
	</select>
	
	
	<insert id="insertIntroduction">
		<selectKey resultType="string" keyProperty="introductionNo" order="BEFORE">
		    SELECT
		        'INTD'||
		        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(INTRODUCTION_NO), LENGTH('INTD' ) + 1)), 0) + 1, 6, '0')
		    FROM INTRODUCTION
		</selectKey>
		INSERT INTO INTRODUCTION (
			INTRODUCTION_NO
			, USER_ID
			, INTRODUCTION_NAME
			, INTRODUCTION_CREATE_DATE
		) VALUES (
			#{introductionNo}
			, #{userId}
			, #{introductionName}
			, TO_CHAR(SYSDATE, 'YYYYMMDD')
		)
	</insert>
	
	<update id="updateIntroduction">
		UPDATE INTRODUCTION 
		   SET INTRODUCTION_NAME = #{introductionName}
		 WHERE INTRODUCTION_NO = #{introductionNo}
		   AND USER_ID = #{userId}
	</update>
	
	<!-- <delete id="deleteIntroduction">
		DELETE FROM INTRODUCTION 
		 WHERE INTRODUCTION_NO = #{introductionNo}
		   AND USER_ID = #{userId}
	</delete> -->
	
	<update id="deleteIntroduction">
		UPDATE INTRODUCTION 
		   SET INTRODUCTION_DELETE_DATE = TO_CHAR(SYSDATE, 'YYYYMMDD')
		 WHERE INTRODUCTION_NO = #{introductionNo}
		   AND USER_ID = #{userId}
	</update>
	
	<select id="selectIntroductionSearch">
		SELECT *
		  FROM INTRODUCTION
		 WHERE INTRODUCTION_DELETE_DATE IS NULL
           AND INTRODUCTION_NAME LIKE '%'||#{introductionName}||'%'
	</select>
	
</mapper>