<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.resume.MyExperienceMapper">

	<select id="selectMyExperienceList">
		SELECT MY_EXP_CODE
			   , RESUME_NO
			   , EXP_CODE
			   , EXP_NAME
			   , ORGANIZATION_NAME
			   , EXP_START_DATE
			   , EXP_END_DATE 
		  FROM MY_EXPERIENCE
     	 WHERE RESUME_NO = #{resumeNo}
	</select>
	
	<select id="selectMyExperienceDetail">
		SELECT MY_EXP_CODE
			   , RESUME_NO
			   , EXP_CODE
			   , EXP_NAME
			   , ORGANIZATION_NAME
			   , EXP_START_DATE
			   , EXP_END_DATE 
		  FROM MY_EXPERIENCE 
		 WHERE MY_EXP_CODE = #{myExpCode}
     	   AND RESUME_NO = #{resumeNo}
	</select>
	
	<insert id="insertMyExperience">
		<selectKey resultType="string" keyProperty="myExpCode" order="BEFORE">
		    SELECT
		        'MYEX'||
		        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(MY_EXP_CODE), LENGTH('MYEX' ) + 1)), 0) + 1, 6, '0')
		    FROM MY_EXPERIENCE
		</selectKey>
		INSERT INTO MY_EXPERIENCE (
			MY_EXP_CODE
			, RESUME_NO
			, EXP_CODE
			, EXP_NAME
			, ORGANIZATION_NAME
			, EXP_START_DATE
			, EXP_END_DATE
		) VALUES (
			#{myExpCode}
			, #{resumeNo}
			, #{expCode}
			, #{expName}
			, #{organizationName}
			, REPLACE(#{expStartDate}, '-', '')
			, REPLACE(#{expEndDate}, '-', '')
		)
	</insert>
	
	<update id="updateMyExperience">
		UPDATE MY_EXPERIENCE 
		   SET RESUME_NO = #{resumeNo}
		       , EXP_CODE = #{expCode}
		   	   , EXP_NAME = #{expName}
		   	   , ORGANIZATION_NAME = #{organizationName}
		   	   , EXP_START_DATE = REPLACE(#{expStartDate}, '-', '')
		   	   , EXP_END_DATE = REPLACE(#{expEndDate}, '-', '')
		 WHERE MY_EXP_CODE = #{myExpCode}
	</update>
	
	<delete id="deleteMyExperience">
		DELETE FROM MY_EXPERIENCE 
		 WHERE MY_EXP_CODE = #{myExpCode}
	</delete>
</mapper>