<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.resume.MySkillMapper">
	<select id="selectMySkillList">
		SELECT MY_SKILL_CODE
			   , RESUME_NO
			   , MY_SKILL_NAME 
		  FROM MY_SKILL
     	 WHERE RESUME_NO = #{resumeNo}
	</select>
	
	<select id="selectMySkillDetail">
		SELECT MY_SKILL_CODE
			   , RESUME_NO
			   , MY_SKILL_NAME
		  FROM MY_SKILL 
		 WHERE MY_SKILL_CODE = #{mySkillCode}
     	   AND RESUME_NO = #{resumeNo}
	</select>
	
	<insert id="insertMySkill">
		<selectKey resultType="string" keyProperty="mySkillCode" order="BEFORE">
		    SELECT
		        'MYSK'||
		        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(MY_SKILL_CODE), LENGTH('MYSK' ) + 1)), 0) + 1, 6, '0')
		    FROM MY_SKILL
		</selectKey>
		INSERT INTO MY_SKILL (
			MY_SKILL_CODE
			, RESUME_NO
			, MY_SKILL_NAME
		) VALUES (
			#{mySkillCode}
			, #{resumeNo}
			, #{mySkillName}
		)
	</insert>
	
	<update id="updateMySkill">
		UPDATE MY_SKILL
		   SET RESUME_NO = #{resumeNo}
		   	   , MY_SKILL_NAME = #{mySkillName} 
		 WHERE MY_SKILL_CODE = #{mySkillCode}
	</update>
	
	<delete id="deleteMySkill">
		DELETE FROM MY_SKILL
		 WHERE MY_SKILL_CODE = #{mySkillCode}
	</delete>
</mapper>