<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.resume.PortfolioMapper">
	<select id="selectPortfolioList">
     	 SELECT POR_CODE
			  , RESUME_NO
			  , POR_NAME
			  , POR_START_DATE
			  , POR_END_DATE
			  , POR_INFORMATION
			  , TO_CHAR(TO_DATE(DELETE_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS DELETE_DATE
			  , POR_URL
		 FROM PORTFOLIO
		WHERE DELETE_DATE IS NULL
		  AND RESUME_NO = #{resumeNo}
	</select>
	
	<select id="selectPortfolioDetail">
		  SELECT POR_CODE
		      , RESUME_NO
		      , POR_NAME
		      , TO_CHAR(TO_DATE(POR_START_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS POR_START_DATE
		      , TO_CHAR(TO_DATE(POR_END_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS POR_END_DATE
		      , POR_INFORMATION
		      , TO_CHAR(TO_DATE(DELETE_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS DELETE_DATE
		      , POR_URL
		 FROM PORTFOLIO
		WHERE DELETE_DATE IS NULL
		  AND RESUME_NO = #{resumeNo}
		  AND POR_CODE = #{porCode}
	</select>
	
	<insert id="insertPortfolio">
		<selectKey resultType="string" keyProperty="porCode" order="BEFORE">
		    SELECT
		        'PTPL'||
		        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(POR_CODE), LENGTH('PTPL' ) + 1)), 0) + 1, 6, '0')
		    FROM PORTFOLIO
		</selectKey>
		INSERT INTO PORTFOLIO (
	        POR_CODE
	      , RESUME_NO
	      , POR_NAME
		  , POR_START_DATE
		  , POR_END_DATE
		  , POR_INFORMATION
	      , DELETE_DATE
	      , POR_URL
	    ) VALUES (
	        #{porCode}
	      , #{resumeNo}
	      , #{porName}
	      , REPLACE(#{porStartDate}, '-', '')
	      , REPLACE(#{porEndDate}, '-', '')
	      , #{porInformation}
	      , #{deleteDate}
	      , #{porUrl}
	    )
	</insert>
	
	<update id="updatePortfolio">
		UPDATE PORTFOLIO
		   SET RESUME_NO         = #{resumeNo}
		     , POR_NAME          = #{porName}
		     , POR_START_DATE    = REPLACE(#{porStartDate}, '-', '')
		     , POR_END_DATE      = REPLACE(#{porEndDate}, '-', '')
		     , POR_INFORMATION   = #{porInformation}
		     , POR_URL   		 = #{porUrl}
		 WHERE POR_CODE = #{porCode}
	</update>
	
	<update id="updatePortfolioDelete">
		UPDATE PORTFOLIO
		   SET RESUME_NO         = #{resumeNo}
		     , POR_NAME          = #{porName}
		     , POR_START_DATE    = REPLACE(#{porStartDate}, '-', '')
		     , POR_END_DATE      = REPLACE(#{porEndDate}, '-', '')
		     , POR_INFORMATION   = #{porInformation}
		     , POR_URL   		 = #{porUrl}
		     , DELETE_DATE       = SYSDATE
		 WHERE POR_CODE = #{porCode}
	</update>
	
	<delete id="deletePortfolio">
		DELETE FROM PORTFOLIO 
		 WHERE RESUME_NO         = #{resumeNo}
	</delete>
</mapper>