<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.resume.ResumeMapper">

  <resultMap id="resumeWithCareerMap" type="kr.or.ddit.vo.resume.ResumeVO">
    <id     property="resumeNo"         column="RESUME_NO"/>
    <result property="userId"           column="USER_ID"/>
    <result property="userName"         column="USER_NAME"/>
    <collection property="careerList" ofType="kr.or.ddit.vo.resume.CareerVO">
      <id     property="careerNo"        column="CAREER_NO"/>
      <result property="resumeNo"        column="RESUME_NO"/>
      <result property="jobCode"         column="JOB_CODE"/>
      <result property="startWorkDate"   column="START_WORK_DATE"/>
      <result property="retireDate"      column="RETIRE_DATE"/>
      <result property="tenure"          column="TENURE"/>
      <result property="department"      column="DEPARTMENT"/>
      <result property="responsibility"  column="RESPONSIBILITY"/>
      <result property="freelancer"      column="FREELANCER"/>
      <result property="jobGradeCode"    column="JOB_GRADE_CODE"/>
      <result property="positionCode"    column="POSITION_CODE"/>
      <result property="careerYear"      column="CAREER_YEAR"/>
      <result property="salary"          column="SALARY"/>
      <result property="location"        column="LOCATION"/>
      <result property="comId"           column="COM_ID"/>
       
      <association property="company" javaType="kr.or.ddit.vo.common.CompanyVO">
      	 <id     property="userId"         column="userId"/>
        <result property="comName"       column="COM_NAME"/>
      </association>
    </collection>
  </resultMap>
  
  
  
	<select id="selectResumeList" resultType="map">
    SELECT 
    R.RESUME_NO
    , R.USER_ID
    , R.USER_NAME
    , R.PHOTO
    , TO_CHAR(TO_DATE(R.BIRTH, 'YYYYMMDD'), 'YYYY-MM-DD') AS BIRTH
    , R.EMAIL
    , R.TEL
    , R.ADDRESS
    , R.VETERAN_REASON
    , TO_CHAR(TO_DATE(R.UPDATE_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS UPDATE_DATE
    , R.RESUME_SUBMIT_YN
    , R.RESUME_DELETE_DATE
    , R.RESUME_MAIN_YN
    , R.INTRODUCTION_NO
    , R.RESUME_NAME
    , (SELECT COUNT(*) FROM MY_LICENSE WHERE RESUME_NO = R.RESUME_NO) AS MY_LICENSE_CNT
    , (SELECT COUNT(*) FROM CAREER WHERE RESUME_NO = R.RESUME_NO) AS CAREER_YN
    , (SELECT COUNT(*) FROM MILITARY WHERE RESUME_NO = R.RESUME_NO) AS MILITARY_YN
    , (SELECT COUNT(*) FROM LANGUAGE_SKILL WHERE RESUME_NO = R.RESUME_NO) AS LANGUAGE_SKILL_YN
    FROM RESUME R
		WHERE USER_ID = #{userId}
    AND RESUME_DELETE_DATE IS NULL
    AND RESUME_SUBMIT_YN = 'N'
	</select>
	<resultMap id="resumeDetailtMap" type="kr.or.ddit.vo.resume.ResumeVO">
	    <!-- ResumeVO 기본 필드 매핑 -->
	    <id     property="resumeNo"         column="RESUME_NO"/>
	    <result property="resumeName"       column="RESUME_NAME"/>
	    <result property="resumeMainYn"     column="RESUME_MAIN_YN"/>
	    <result property="introductionNo"   column="INTRODUCTION_NO"/>
	    <result property="userId"           column="USER_ID"/>
	    <result property="userName"         column="USER_NAME"/>
	    <result property="photo"            column="PHOTO"/>
	    <result property="birth"            column="BIRTH"/>
	    <result property="email"            column="EMAIL"/>
	    <result property="tel"              column="TEL"/>
	    <result property="address"          column="ADDRESS"/>
	    <result property="veteranReason"    column="VETERAN_REASON"/>
	    <result property="updateDate"       column="UPDATE_DATE"/>
	    <result property="resumeSubmitYn"   column="RESUME_SUBMIT_YN"/>
	    <result property="resumeDeleteDate" column="RESUME_DELETE_DATE"/>
	
	    <!-- IntroductionVO는 introduction property에 중첩 매핑 -->
	    <association property="introduction" javaType="kr.or.ddit.vo.resume.IntroductionVO">
	        <id     property="introductionNo"        column="INTRODUCTION_NO"/>
	        <result property="introductionName"      column="INTRODUCTION_NAME"/>
	        <result property="introductionContent"   column="INTRODUCTION_CONTENT"/>
	        <result property="introductionQuestion"  column="INTRODUCTION_QUESTION"/>
	        <result property="introductionCreateDate" column="INTRODUCTION_CREATE_DATE"/>
	        <result property="introductionDeleteDate" column="INTRODUCTION_DELETE_DATE"/>
	        <result property="introductionSubmitYn"   column="INTRODUCTION_SUBMIT_YN"/>
	        <result property="userId"                 column="USER_ID"/>
	    </association>
	</resultMap>
		
	<select id="selectResumeDetail" resultMap="resumeDetailtMap">
		SELECT  
			RE.RESUME_NO
			, RE.RESUME_MAIN_YN
			, RE.INTRODUCTION_NO
			, RE.USER_ID
			, RE.USER_NAME
			, RE.PHOTO
			, TO_CHAR(TO_DATE(RE.BIRTH, 'YYYYMMDD'), 'YYYY-MM-DD') AS BIRTH
			, RE.EMAIL
			, RE.TEL
			, RE.ADDRESS
			, RE.VETERAN_REASON
			, TO_CHAR(TO_DATE(RE.UPDATE_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS UPDATE_DATE
			, RE.RESUME_SUBMIT_YN
			, RE.RESUME_DELETE_DATE
			, RE.RESUME_NAME		   
			, INT.INTRODUCTION_NAME
			, INT.INTRODUCTION_CONTENT
			, INT.INTRODUCTION_QUESTION
			, TO_CHAR(INT.INTRODUCTION_CREATE_DATE, 'YYYY-MM-DD') AS INTRODUCTION_CREATE_DATE
			, TO_CHAR(INT.INTRODUCTION_DELETE_DATE, 'YYYY-MM-DD') AS INTRODUCTION_DELETE_DATE
			, INT.INTRODUCTION_SUBMIT_YN
		FROM RESUME RE
		LEFT JOIN INTRODUCTION INT ON RE.INTRODUCTION_NO = INT.INTRODUCTION_NO		  
		WHERE RE.USER_ID = #{userId}
		AND RE.RESUME_DELETE_DATE IS NULL
		AND RE.RESUME_NO = #{resumeNo}
	</select>
	
	
	<insert id="insertResume">
		<selectKey resultType="string" keyProperty="resumeNo" order="BEFORE">
		    SELECT
		        'RESM'||
		        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(RESUME_NO), LENGTH('RESM' ) + 1)), 0) + 1, 6, '0')
		    FROM RESUME
		</selectKey>
		INSERT INTO RESUME (
			RESUME_NO
			, RESUME_NAME
			, USER_ID
			, USER_NAME
			, PHOTO
			, BIRTH
			, EMAIL
			, TEL
			, ADDRESS
			, VETERAN_REASON
			, UPDATE_DATE
			, RESUME_SUBMIT_YN
			, RESUME_DELETE_DATE
			, INTRODUCTION_NO
		) VALUES (
			#{resumeNo}
			, #{resumeName}
			, #{userId}
			, #{userName}
			, #{photo}
			, REPLACE(#{birth}, '-', '')
			, #{email}
			, #{tel}
			, #{address}
			, #{veteranReason}
			, TO_CHAR(SYSDATE, 'YYYYMMDD')
			, #{resumeSubmitYn}
			, #{resumeDeleteDate}
			, #{introductionNo}
		)
	</insert>
	
	
	<update id="updateResume">
		UPDATE RESUME 
		   SET USER_ID = #{userId}
		       , RESUME_NAME = #{resumeName}
		       , USER_NAME = #{userName}
		       , PHOTO = #{photo}
		       , BIRTH = REPLACE(#{birth}, '-', '')
		       , EMAIL = #{email}
		       , TEL = #{tel}
		       , ADDRESS = #{address}
		       , VETERAN_REASON = #{veteranReason}
		       , UPDATE_DATE = TO_CHAR(SYSDATE, 'YYYYMMDD')
		       , RESUME_SUBMIT_YN = #{resumeSubmitYn}
		       , RESUME_DELETE_DATE = #{resumeDeleteDate}
		       , INTRODUCTION_NO = #{introductionNo}
		 WHERE RESUME_NO = #{resumeNo}
	</update>	
	
	<update id="updateResumeDelete">
		UPDATE RESUME 
		   SET RESUME_DELETE_DATE = SYSDATE
		 WHERE RESUME_NO = #{resumeNo}
		  AND USER_ID = #{userId}
	</update>	
	
	
	<delete id="deleteResume">
		DELETE FROM RESUME
		 WHERE RESUME_NO = #{resumeNo}
	</delete>	
	
	
	 <select id="selectResumeWithCareers" resultMap="resumeWithCareerMap">
		    SELECT
		      r.RESUME_NO,
		      r.USER_ID,
		      r.USER_NAME,
		      c.CAREER_NO,
		      c.JOB_CODE,
		      c.START_WORK_DATE,
		      c.RETIRE_DATE,
		      c.TENURE,
		      c.DEPARTMENT,
		      c.RESPONSIBILITY,
		      c.FREELANCER,
		      c.JOB_GRADE_CODE,
		      c.POSITION_CODE,
		      c.CAREER_YEAR,
		      c.SALARY,
		      c.LOCATION,
		      c.COM_ID,
		      comp.COM_NAME
		    FROM
		      RESUME r
		      LEFT JOIN CAREER c
		        ON r.RESUME_NO = c.RESUME_NO
		      LEFT JOIN COMPANY comp
		        ON c.COM_ID = comp.USER_ID
		    WHERE
		      r.USER_ID = #{userId}
		    ORDER BY
		      r.UPDATE_DATE DESC
  </select>
  
  <select id="selectUserResumeNoCount">
  	SELECT count(RESUME_NO)
	  FROM RESUME
		WHERE USER_ID = #{userId}
  </select>
  
  
  <select id="selectResumeSearch">
		SELECT *
		  FROM RESUME
		 WHERE RESUME_DELETE_DATE IS NULL
       AND RESUME_NAME LIKE '%'||#{resumeName}||'%'  	
       AND USER_ID = #{userId}
	     AND RESUME_SUBMIT_YN = 'N'
  </select>
  
</mapper>