<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.resume.SupportMapper">
	<select id="selectSupportList">
		SELECT SUPPORT_NO
			   , RESUME_NO
			   , DISABILITY_CODE
			   , DISABILITY_LEVEL_CODE 
		  FROM SUPPORT
     	 WHERE RESUME_NO = #{resumeNo}
	</select>
	
	<select id="selectSupportDetail">
		SELECT SUPPORT_NO
			   , RESUME_NO
			   , DISABILITY_CODE
			   , DISABILITY_LEVEL_CODE 
		  FROM SUPPORT
		 WHERE SUPPORT_NO = #{supportNo}
     	   AND RESUME_NO = #{resumeNo}
	</select>
	
	<insert id="insertSupport">
		<selectKey resultType="string" keyProperty="supportNo" order="BEFORE">
		    SELECT
		        'SUPT'||
		        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(SUPPORT_NO), LENGTH('SUPT' ) + 1)), 0) + 1, 6, '0')
		    FROM SUPPORT
		</selectKey>
		INSERT INTO SUPPORT (
			SUPPORT_NO
			, RESUME_NO
			, DISABILITY_CODE
			, DISABILITY_LEVEL_CODE
		) VALUES (
			#{supportNo}
			, #{resumeNo}
			, #{disabilityCode}
			, #{disabilityLevelCode}
		)
	</insert>
	
	
	<update id="updateSupport">
		UPDATE SUPPORT 
		   SET RESUME_NO = #{resumeNo}
		       , DISABILITY_CODE = #{disabilityCode}
		       , DISABILITY_LEVEL_CODE = #{disabilityLevelCode}
		 WHERE SUPPORT_NO = #{supportNo}
	</update>
	
	<delete id="deleteSupport">
		DELETE FROM SUPPORT 
		 WHERE RESUME_NO = #{resumeNo}
	</delete>
</mapper>