<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.project.ChatroomMapper">

<select id="selectChatroomList">
	SELECT 
		CHATROOM_NO
		, PRJ_NO
		, CHATROOM_NAME
	FROM CHATROOM
</select>

<select id="selectChatroomByPk">
	SELECT 
		CHATROOM_NO
		, PRJ_NO
		, CHATROOM_NAME
	FROM CHATROOM
	WHERE CHATROOM_NO = #{chatroomNo}
</select>

<insert id="insertChatroom">
	<selectKey resultType="string" keyProperty="chatroomNo" order="BEFORE">
	    SELECT
	        'CATR'||
	        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(CHATROOM_NO), LENGTH('CATR' ) + 1)), 0) + 1, 6, '0')
	    FROM CHATROOM
	</selectKey>
	INSERT INTO CHATROOM (
		CHATROOM_NO
		, PRJ_NO
		, CHATROOM_NAME
	) VALUES (
		#{chatroomNo}
		, #{prjNo}
		, #{chatroomName}
	)
</insert>

<update id="updateChatroom">
	UPDATE CHATROOM
	SET 
		PRJ_NO = #{prjNo}
		, CHATROOM_NAME = #{chatroomName}
	WHERE CHATROOM_NO = #{chatroomNo}
</update>

<delete id="deleteChatroom">
	DELETE FROM CHATROOM
	WHERE CHATROOM_NO = #{chatroomNo}
</delete>

</mapper>