<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.project.ChatMessageMapper">

<select id="selectChatMessageList">
	SELECT 
		MESSAGE_NO
		, MESSAGE
		, CREATE_DATE
		, CHATROOM_NO
		, PRJ_NO
		, USER_ID
	FROM CHAT_MESSAGE
</select>

<select id="selectChatMessageByPk">
	SELECT 
	MESSAGE_NO
	, MESSAGE
	, CREATE_DATE
	, CHATROOM_NO
	, PRJ_NO
	, USER_ID
	FROM CHAT_MESSAGE
	WHERE MESSAGE_NO = #{messageNo}
</select>

<insert id="insertChatMessage">
	<selectKey resultType="string" keyProperty="messageNo" order="BEFORE">
	    SELECT
	        'MASG'||
	        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(MESSAGE_NO), LENGTH('MASG' ) + 1)), 0) + 1, 6, '0')
	    FROM CHAT_MESSAGE
	</selectKey>
	INSERT INTO CHAT_MESSAGE (
		MESSAGE_NO
		, CHATROOM_NO
		, PRJ_NO
		, USER_ID
		, MESSAGE
		, CREATE_DATE
	) VALUES (
		#{messageNo}
		, #{chatroomNo}
		, #{prjNo}
		, #{userId}
		, #{message}
		, SYSDATE
	)
</insert>

<delete id="deleteChatMessage">
	DELETE FROM CHAT_MESSAGE
	WHERE MESSAGE_NO = #{messageNo}
</delete>

<select id="selectChatMessages">
	SELECT
	    MESSAGE_NO as messageNo,
	    CHATROOM_NO as chatroomNo,
	    PRJ_NO as prjNo,
	    USER_ID as userId,
	    MESSAGE as message,
	    CREATE_DATE as createDate
	FROM CHAT_MESSAGE
	WHERE CHATROOM_NO = #{chatroomNo}
	ORDER BY CREATE_DATE ASC
</select>

<select id="selectChatMessage">
	SELECT
	    MESSAGE_NO as messageNo,
	    CHATROOM_NO as chatroomNo,
	    PRJ_NO as prjNo,
	    USER_ID as userId,
	    MESSAGE as message,
	    CREATE_DATE as createDate
	FROM CHAT_MESSAGE
	WHERE MESSAGE_NO = #{messageNo}
</select>

<update id="updateReadStatus">
	UPDATE CHATROOM_MEM
	SET READ_MESSAGE_NO = #{readMessageNo}
	WHERE CHATROOM_NO = #{chatroomNo}
	AND USER_ID = #{userId}
</update>
</mapper>