<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.project.ChatroomMemMapper">

<select id="selectChatroomMemList">
	SELECT 
		CHATROOM_NO
		, PRJ_NO
		, USER_ID
		, READ_MESSAGE_NO
	FROM CHATROOM_MEM
</select>

<select id="selectChatroomMemByPk">
	SELECT 
		CHATROOM_NO
		, PRJ_NO
		, USER_ID
		, READ_MESSAGE_NO
	FROM CHATROOM_MEM
	WHERE CHATROOM_NO = #{chatroomNo}
	AND PRJ_NO = #{prjNo}
	AND USER_ID = #{userId}
</select>

<insert id="insertChatroomMem">
	INSERT INTO CHATROOM_MEM (
		CHATROOM_NO
		, PRJ_NO
		, USER_ID
		, READ_MESSAGE_NO
	) VALUES (
		#{chatroomNo}
		, #{prjNo}
		, #{userId}
		, #{readMessageNo}
	)
</insert>

<update id="updateChatroomMem">
	UPDATE CHATROOM_MEM
	SET 
		READ_MESSAGE_NO = #{readMessageNo}
	WHERE CHATROOM_NO = #{chatroomNo}
	AND PRJ_NO = #{prjNo}
	AND USER_ID = #{userId}
</update>

<delete id="deleteChatroomMem">
	DELETE FROM CHATROOM_MEM
	WHERE CHATROOM_NO = #{chatroomNo}
	AND PRJ_NO = #{prjNo}
	AND USER_ID = #{userId}
</delete>

</mapper>