<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.project.ProjectMapper">

<select id="selectProjectList">
	SELECT 
		PRJ_NO
		, USER_ID
		, PROJECT_BOARD_NO
		, PROJECT_NAME
		, PROJECT_CONTENTS
		, PROJECT_STATUS
		, CREATE_DATE
		, FINISH_DATE
		, DELETE_DATE
	FROM PROJECT
</select>


<resultMap type="ProjectVO" id="ProjectResultMap">
    <!-- ProjectVO 매핑: B_ prefix -->
    <id property="prjNo" column="B_PRJ_NO" />
    <result property="userId" column="B_USER_ID" />
    <result property="projectBoardNo" column="PROJECT_BOARD_NO" />
    <result property="projectName" column="PROJECT_NAME" />
    <result property="projectContents" column="PROJECT_CONTENTS" />
    <result property="projectStatus" column="PROJECT_STATUS" />
    <result property="createDate" column="CREATE_DATE" />
    <result property="finishDate" column="FINISH_DATE" />
    <result property="deleteDate" column="B_DELETE_DATE" />

    <!-- PrjMemVO 리스트 매핑: A_ prefix -->
    <collection property="prjMemList" ofType="PrjMemVO">
        <id property="prjNo" column="A_PRJ_NO" />
        <result property="userId" column="A_USER_ID" />
        <result property="authorityCode" column="AUTHORITY_CODE" />
        <result property="deleteDate" column="A_DELETE_DATE" />
    </collection>
</resultMap>

<select id="selectProjectUserIdList" resultMap="ProjectResultMap">
	SELECT 
	    A.PRJ_NO AS A_PRJ_NO,
	    A.USER_ID AS A_USER_ID,
	    A.AUTHORITY_CODE,
	    A.DELETE_DATE AS A_DELETE_DATE,
	
	    B.PRJ_NO AS B_PRJ_NO,
	    B.USER_ID AS B_USER_ID,
	    B.PROJECT_BOARD_NO,
	    B.PROJECT_NAME,
	    B.PROJECT_CONTENTS,
	    B.PROJECT_STATUS,
	    B.CREATE_DATE,
	    B.FINISH_DATE,
	    B.DELETE_DATE AS B_DELETE_DATE
	
	FROM PRJ_MEM A
	LEFT OUTER JOIN PROJECT B ON A.PRJ_NO = B.PRJ_NO
	WHERE A.USER_ID = #{userID}
</select>

<select id="selectProjectByPk">
	SELECT 
		PRJ_NO
		, USER_ID
		, PROJECT_BOARD_NO
		, PROJECT_NAME
		, PROJECT_CONTENTS
		, PROJECT_STATUS
		, CREATE_DATE
		, FINISH_DATE
		, DELETE_DATE
	FROM PROJECT
	WHERE PRJ_NO = #{prjNo}
</select>

<insert id="insertProject">
	<selectKey resultType="string" keyProperty="prjNo" order="BEFORE">
	    SELECT
	        'PRJT'||
	        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(PRJ_NO), LENGTH('PRJT' ) + 1)), 0) + 1, 6, '0')
	    FROM PROJECT
	</selectKey>
	INSERT INTO PROJECT (
		PRJ_NO
		, USER_ID
		, PROJECT_BOARD_NO
		, PROJECT_NAME
		, PROJECT_CONTENTS
		, PROJECT_STATUS
		, CREATE_DATE
	) VALUES (
		#{prjNo}
		, #{userId}
		, #{projectBoardNo}
		, #{projectName}
		, #{projectContents}
		, #{projectStatus}
		, SYSDATE
	)
</insert>

<update id="updateProject">
	UPDATE PROJECT
	SET 
		PROJECT_NAME = #{projectName}
		, PROJECT_CONTENTS = #{projectContents}
		, PROJECT_STATUS = #{projectStatus}
	WHERE PRJ_NO = #{prjNo}
</update>

<delete id="deleteProject">
	DELETE FROM PROJECT
	WHERE PRJ_NO = #{prjNo}
</delete>

</mapper>