<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.or.ddit.mapper.recruitment.ApplicantAnswerMapper">
	<select id="selectApplicantAnswerList" resultType="ApplicantAnswerVO">
	SELECT 
		APPLICANT_ANSWER_NO
		, RECRUIT_EXAM_NO
		, RECRUIT_QUESTIONS_NO
		, APPLICANT_ID
		, APPLICANT_SCORE 
	FROM APPLICANT_ANSWER
	</select>
	
	<select id="selectApplicantAnswer" resultType="ApplicantAnswerVO">
	SELECT 
		APPLICANT_ANSWER_NO
		, RECRUIT_EXAM_NO
		, RECRUIT_QUESTIONS_NO
		, APPLICANT_ID
		, APPLICANT_OPTION_NO
		, APPLICANT_SCORE 
	FROM APPLICANT_ANSWER 
	WHERE APPLICANT_ANSWER_NO = #{applicantAnswerNo}
	</select>
	
	<insert id="insertApplicantAnswer">
	<selectKey resultType="string" keyProperty="applicantAnswerNo" order="BEFORE">
    SELECT
        'APAS'||
        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(APPLICANT_ANSWER_NO), LENGTH('APAS' ) + 1)), 0) + 1, 6, '0')
    FROM APPLICANT_ANSWER
	</selectKey>
	INSERT INTO APPLICANT_ANSWER (
		APPLICANT_ANSWER_NO
		, RECRUIT_EXAM_NO
		, RECRUIT_QUESTIONS_NO
		, APPLICANT_ID
		, APPLICANT_OPTION_NO
		, APPLICANT_SCORE
	) VALUES (
		#{applicantAnswerNo}
		, #{recruitExamNo}
		, #{recruitQuestionsNo}
		, #{applicantId}
		, #{applicantOptionNo}
		, #{applicantScore}
	)
	</insert>
	
	<update id="updateApplicantAnswer">
	UPDATE APPLICANT_ANSWER SET 
		APPLICANT_SCORE = #{applicantScore} 
	WHERE APPLICANT_ANSWER_NO = #{applicantAnswerNo}
	</update>
	
	<delete id="deleteApplicantAnswer">
	DELETE FROM APPLICANT_ANSWER 
	WHERE APPLICANT_ANSWER_NO = #{applicantAnswerNo}
	</delete>
	
	
	
	 <!-- 1) 제출 전, 응시 여부 체크용 count -->
  <select id="countByUserAndExam" resultType="int" parameterType="map">
    SELECT COUNT(*)
      FROM APPLICANT_ANSWER
     WHERE APPLICANT_ID    = #{applicantId}
       AND RECRUIT_EXAM_NO = #{recruitExamNo}
  </select>
  
  
  <select id="selectResultByExamAndUser" resultType="kr.or.ddit.vo.recruitment.RecruitmentExamScoreResultVO" parameterMap="map">
  	 SELECT
		    aa.APPLICANT_ID           AS applicantId,              
		    SUM(aa.APPLICANT_SCORE)   AS totalScore,                
		    e.RECRUIT_EXAM_CUTLINE    AS cutlineScore,              
	    CASE 
	      WHEN SUM(aa.APPLICANT_SCORE) >= e.RECRUIT_EXAM_CUTLINE 
	      THEN 'Y' 
	      ELSE 'N' 
	    END                       AS passYn                    
	  FROM APPLICANT_ANSWER aa                                    
	  JOIN RECRUITMENT_EXAM  e                                    
	    ON aa.RECRUIT_EXAM_NO = e.RECRUIT_EXAM_NO
	  WHERE aa.RECRUIT_EXAM_NO = #{recruitExamNo}                 
	    AND aa.APPLICANT_ID    = #{applicantId}                   
	  GROUP BY aa.APPLICANT_ID, e.RECRUIT_EXAM_CUTLINE            
  </select>
</mapper>