<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.recruitment.ApplicantMapper">
	<select id="selectApplicantList" resultType="ApplicantVO">
	SELECT 
		APPLICANT_ID
		, RECRUITMENT_NO
		, RESUME_NO
		, RESUME_VIEW_YN
		, USER_ID
		, STATUS 
	FROM APPLICANT
	</select>
	
	<select id="selectApplicantListByNo">
	SELECT
		APPLICANT_ID
		, RECRUITMENT_NO
		, RESUME_NO
		, RESUME_VIEW_YN
		, USER_ID
	FROM APPLICANT
	WHERE RECRUITMENT_NO = #{recruitmentNo}
	AND APPLICANT_DEL_DATE IS NULL
	</select>
	
	<select id="selectApplicant" resultType="ApplicantVO">
	SELECT 
		APPLICANT_ID
		, RECRUITMENT_NO
		, RESUME_NO
		, RESUME_VIEW_YN
		, USER_ID
	FROM APPLICANT 
	WHERE APPLICANT_ID = #{applicantId}
	AND APPLICANT_DEL_DATE IS NULL
	</select>
	
	<select id="duplicationApplicant">
	SELECT APPLICANT_ID
	FROM APPLICANT
	WHERE USER_ID = #{userId}
    AND RECRUITMENT_NO = #{recruitmentNo}
	</select>
	
	<select id="selectApplicantMail">
	SELECT
	    MEM_EMAIL
	FROM APPLICANT a 
	JOIN MEMBER m
	ON a.user_id = m.user_id
	WHERE APPLICANT_ID = #{applicant_id}
	</select>
	
	<insert id="insertApplicant">
	<selectKey resultType="string" keyProperty="applicantId" order="BEFORE">
    SELECT
        'APPL'||
        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(APPLICANT_ID), LENGTH('APPL' ) + 1)), 0) + 1, 6, '0')
    FROM APPLICANT
	</selectKey>
	INSERT INTO APPLICANT (
		APPLICANT_ID
		, RECRUITMENT_NO
		, RESUME_NO
		, RESUME_VIEW_YN
		, USER_ID
	) VALUES (
		#{applicantId}
		, #{recruitmentNo}
		, #{resumeNo}
		, 'N'
		, #{userId}
	)
	</insert>
	
	<update id="updateApplicant">
	UPDATE APPLICANT SET 
		RESUME_VIEW_YN = 'Y'
	WHERE APPLICANT_ID = #{applicantId}
	</update>
	
	<delete id="deleteApplicant">
	UPDATE APPLICANT SET 
		APPLICANT_DEL_DATE = SYSDATE 
	WHERE APPLICANT_ID = #{applicantId}
	</delete>
</mapper>