<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.recruitment.CompanyExamMapper">

	<resultMap type="CompanyExamVO" id="ComExamViewMap">
		   <id     property="comExamNo"      column="com_exam_no" />
		    <result property="userId"         column="user_id" />
		    <result property="comExamName"    column="com_exam_name" />
		    <result property="comExamCreateDate" column="com_exam_create_date"/>
		    <result property="comExamDelDate" column="com_exam_del_date" />
		
		
		<collection property="questionList" ofType="ComExamQuestionsVO">
		  <id     property="comQuestionsNo"      column="com_questions_no" />
	      <result property="comExamNo"           column="ce_com_exam_no" />
	      <result property="comExamContents"     column="com_exam_contents" />
	      <result property="comExamQuestDelDate" column="com_exam_quest_del_date" />
		
		
		
		<collection property="optionList" ofType="ComExamOptionVO">
			<id     property="comOptionNo"        column="com_option_no" />
	        <result property="comQuestionsNo"     column="cq_com_questions_no" />
	        <result property="comOptionContent"   column="com_option_content" />
	        <result property="comOptionCorrectYn" column="com_option_correct_yn" />
	        <result property="comOptionDelDate"   column="com_option_del_date" />
		</collection>
	</collection>
	</resultMap>

	<select id="selectCompanyExamList" resultType="CompanyExamVO">
	SELECT 
	    COM_EXAM_NO,
	    USER_ID,
	    COM_EXAM_NAME,
	    TO_CHAR(COM_EXAM_CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS COM_EXAM_CREATE_DATE
	FROM COMPANY_EXAM
	</select>
	
	<select id="selectCompanyExam" resultType="CompanyExamVO">
	SELECT 
		COM_EXAM_NO
		, USER_ID
		, COM_EXAM_NAME 
	FROM COMPANY_EXAM WHERE COM_EXAM_NO = #{comExamNo}
	</select>
	
	<select id="selectCompanyExamListById" resultType="CompanyExamVO">
	SELECT 
		COM_EXAM_NO
		, USER_ID
		, COM_EXAM_NAME 
		, TO_CHAR(COM_EXAM_CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS COM_EXAM_CREATE_DATE
	FROM COMPANY_EXAM 
	WHERE (USER_ID = #{userId} OR USER_ID = 'testCompany')
	AND COM_EXAM_DEL_DATE IS NULL
	ORDER BY COM_EXAM_CREATE_DATE DESC
	</select>
	
	
	
	
	<select id="selectCompanyExamWithQuestionAndOption" resultMap = "ComExamViewMap">
		 SELECT 
	      ce.COM_EXAM_NO,
	      ce.USER_ID,
	      ce.COM_EXAM_NAME,
	      ce.COM_EXAM_DEL_DATE,
	      cq.COM_QUESTIONS_NO,
	      cq.COM_EXAM_NO,
	      cq.COM_EXAM_CONTENTS,
	      cq.COM_EXAM_QUEST_DEL_DATE,
	      co.COM_OPTION_NO,
	      co.COM_QUESTIONS_NO,
	      co.COM_OPTION_CONTENT,
	      co.COM_OPTION_CORRECT_YN,
	      co.COM_OPTION_DEL_DATE
	    FROM COMPANY_EXAM ce
	    LEFT JOIN COM_EXAM_QUESTIONS cq
	      ON ce.COM_EXAM_NO = cq.COM_EXAM_NO
	       AND cq.COM_EXAM_QUEST_DEL_DATE IS NULL
	    LEFT JOIN COM_EXAM_OPTION co
	      ON cq.COM_QUESTIONS_NO = co.COM_QUESTIONS_NO
	       AND co.COM_OPTION_DEL_DATE IS NULL  
	    WHERE ce.COM_EXAM_NO = #{comExamNo}
	    	 AND ce.COM_EXAM_DEL_DATE IS NULL     
	</select>
	
	
	<insert id="insertCompanyExam">
	<selectKey resultType="string" keyProperty="comExamNo" order="BEFORE">
    SELECT
        'COEX'||
        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(COM_EXAM_NO), LENGTH('COEX' ) + 1)), 0) + 1, 6, '0')
    FROM COMPANY_EXAM
	</selectKey>
	INSERT INTO COMPANY_EXAM (
		COM_EXAM_NO
		, USER_ID
		, COM_EXAM_NAME
		, COM_EXAM_CREATE_DATE 
	) VALUES (
		#{comExamNo}
		, #{userId}
		, #{comExamName}
		, SYSDATE
	)
	</insert>
	
	<update id="updateCompanyExam">
		UPDATE COMPANY_EXAM SET 
			COM_EXAM_NAME = #{comExamName},
			COM_EXAM_CREATE_DATE = SYSDATE
		WHERE COM_EXAM_NO = #{comExamNo}
	</update>
	
	<update id="updateExamDeleteDate">
		UPDATE COMPANY_EXAM
	       SET COM_EXAM_DEL_DATE = SYSDATE
	    WHERE COM_EXAM_NO = #{examNo}
	</update>
	
	
		
	<delete id="deleteCompanyExam">
		DELETE FROM COMPANY_EXAM 
		WHERE COM_EXAM_NO = #{comExamNo}
	</delete>
	
	
</mapper>