<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.recruitment.InterviewMapper">
	<select id="selectInterviewList" resultType="InterviewVO">
	SELECT 
		INTERVIEW_NO
		, PROCESS_NO
		, USER_ID
		, INTERVIEW_DATE
		, INTERVIEW_LOCATION
		, INTERVIEW_TYPE
		, INTERVIEW_PASS_SCORE 
	FROM INTERVIEW
	</select>
	
	<select id="selectInterview" resultType="InterviewVO">
	SELECT 
		INTERVIEW_NO
		, PROCESS_NO
		, USER_ID
		, INTERVIEW_DATE
		, INTERVIEW_LOCATION
		, INTERVIEW_TYPE
		, INTERVIEW_PASS_SCORE 
	FROM INTERVIEW
	WHERE INTERVIEW_NO = #{interviewNo}
	</select>
	
	<insert id="insertInterview">
	<selectKey resultType="string" keyProperty="interviewNo" order="BEFORE">
    SELECT
        'INTV'||
        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(INTERVIEW_NO), LENGTH('INTV' ) + 1)), 0) + 1, 6, '0')
    FROM INTERVIEW
	</selectKey>
	INSERT INTO INTERVIEW (
		INTERVIEW_NO
		, PROCESS_NO
		, USER_ID
		, INTERVIEW_DATE
		, INTERVIEW_LOCATION
		, INTERVIEW_TYPE
		, INTERVIEW_PASS_SCORE
	) VALUES (
		#{interviewNo}
		, #{processNo}
		, #{userId}
		, SYSDATE
		, #{interviewLocation}
		, #{interviewType}
		, #{interviewPassScore}
	)
	</insert>
	
	<update id="updateInterview">
	UPDATE INTERVIEW SET
		USER_ID = #{userId}
		, INTERVIEW_DATE = #{interviewDate}
		, INTERVIEW_LOCATION = #{interviewLocation}
		, INTERVIEW_TYPE = #{interviewType}
		, INTERVIEW_PASS_SCORE = #{interviewPassScore}
	 WHERE INTERVIEW_NO = #{interviewNo}
	</update>
	
	<delete id="deleteInterview">
	DELETE FROM INTERVIEW 
	WHERE INTERVIEW_NO = #{interviewNo}
	</delete>
</mapper>