<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.recruitment.InterviewScoreMapper">
	<select id="selectInterviewScoreList">
	SELECT 
		INTERVIEW_SCORE_NO
		, INTERVIEW_QUESTION_NO
		, INTERVIEW_NO
		, APPLICANT_ID
		, APPLICANT_RATING 
	FROM INTERVIEW_SCORE
	</select>
	
	<select id="selectInterviewScore">
	SELECT 
		INTERVIEW_SCORE_NO
		, INTERVIEW_QUESTION_NO
		, INTERVIEW_NO
		, APPLICANT_ID
		, APPLICANT_RATING 
	FROM INTERVIEW_SCORE 
	WHERE INTERVIEW_SCORE_NO = #{interviewScoreNo}
	</select>
	
	<insert id="insertInterviewScore">
	<selectKey resultType="string" keyProperty="interviewScoreNo" order="BEFORE">
    SELECT
        'INSC'||
        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(INTERVIEW_SCORE_NO), LENGTH('INSC' ) + 1)), 0) + 1, 6, '0')
    FROM INTERVIEW_SCORE
	</selectKey>
	INSERT INTO INTERVIEW_SCORE (
		INTERVIEW_SCORE_NO
		, INTERVIEW_QUESTION_NO
		, INTERVIEW_NO
		, APPLICANT_ID
		, APPLICANT_RATING
	) VALUES (
		#{interviewScoreNo}
		, #{interviewQuestionNo}
		, #{interviewNo}
		, #{applicantId}
		, #{applicantRating}
	)
	</insert>
	
	<update id="updateInterviewScore">
	UPDATE INTERVIEW_SCORE SET 
		INTERVIEW_QUESTION_NO = #{interviewQuestionNo}
		, INTERVIEW_NO = #{interviewNo}
		, APPLICANT_ID = #{applicantId}
		, APPLICANT_RATING = #{applicantRating}
	WHERE INTERVIEW_SCORE_NO = #{interviewScoreNo}
	</update>
	
	<delete id="deleteInterviewScore">
	DELETE FROM INTERVIEW_SCORE
	WHERE INTERVIEW_SCORE_NO = #{interviewScoreNo}
	</delete>
</mapper>