<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.recruitment.LiveRecruitmentMapper">
<!-- <resultMap type="RecruitmentNoticeVO" id="liveDetailMap" autoMapping="true">
<id property="recruitmentNo" column="RECRUITMENT_NO"/>
</resultMap> -->
<select id="selectLiveRecruitment">
	SELECT * 
	FROM RECRUITMENT_NOTICE
	ORDER BY RECRUITMENT_STARTDATE DESC
</select>

<select id="hotRecruitment">
	SELECT *
	FROM RECUITMENT_NOTICE
	ORDER BY (조회수 관련)
</select>

<select id="salaryRecruitment" >
	SELECT *
	FROM RECUITMENT_NOTICE
	WHERE RECRUITMENT_SALARY
	ORDER BY DESC

</select>

<select id="selectliveRecruitmentDetail">
	SELECT 
	RECRUITMENT_NO
	,USER_ID
	,JOB_CODE
	,YEAR_CODE
	,REC_CONTENT
	,PREFERENTIAL
	,CITY_CODE
	,DISTRICT_CODE
	,REC_POSITION_NUMBER
	,RECRUITMENT_CHARGER_TEL
	,RECRUITMENT_SALARY
	,WELFARE
	,RECRUITMENT_DESK
	,RECRUITMENT_IMG
	,RECRUITMENT_STARTDATE
	,RECRUITMENT_RECEIPT_START
	,RECRUITMENT_FINISH_DATE
	,RECRUITMENT_TITLE
	FROM RECRUITMENT_NOTICE
	WHERE RECRUITMENT_NO = #{recruitmentNo}
</select>

<delete id="">

</delete>


</mapper>