<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.or.ddit.mapper.recruitment.RecruitmentNoticeMapper">
	<!-- <resultMap type="RecruitmentNoticeVO" id="liveDetailMap" autoMapping="true"> 
		<id property="recruitmentNo" column="RECRUITMENT_NO"/> </resultMap> -->

	<!-- <select id="hotRecruitment" resultType="RecruitmentNoticeVO"> SELECT 
		* FROM RECUITMENT_NOTICE ORDER BY (조회수 관련) </select> -->
	<resultMap id="companyMap" type="kr.or.ddit.vo.common.CompanyVO">
		<id property="userId" column="COM_USER_ID" />
		<result property="comName" column="COM_NAME" />
		<result property="comInfo" column="COM_INFO" />
		<result property="comNum" column="COM_NUM" />
		<result property="comEmail" column="COM_EMAIL" />
		<result property="comUrl" column="COM_URL" />
		<result property="comCreateYear" column="COM_CREATE_YEAR" />
		<result property="comMem" column="COM_MEM" />
		<result property="comLogo" column="COM_LOGO" />
		<result property="comPayment" column="COM_PAYMENT" />
		<result property="industryType" column="INDUSTRY_TYPE" />
	</resultMap>

	<resultMap id="recruitmentEducationMap" type="kr.or.ddit.vo.recruitment.RecruitmentEducationVO">
		<id property="recruitmentEducationCode" column="EDU_RECRUITMENT_EDUCATION_CODE" />
		<result property="codeDetailNo" column="EDU_CODE_DETAIL_NO" />
		<result property="recruitmentEduDelDate" column="EDU_RECRUITMENT_EDU_DEL_DATE" />
	</resultMap>

	<resultMap id="recruitmentPositionMap" type="kr.or.ddit.vo.recruitment.RecruitmentPositionVO">
		<id property="recruitmentPositionCode" column="REP_RECRUITMENT_POSITION_CODE" />
		<result property="codeDetailNo" column="REP_CODE_DETAIL_NO" />
		<result property="recruitmentPositionDelDate" column="REP_RECRUITMENT_POSITION_DEL_DATE" />
	</resultMap>

	<resultMap id="recruitmentSkillMap" type="kr.or.ddit.vo.recruitment.RecruitmentSkillVO">
		<id property="recruitSkillCode" column="RSK_RECRUIT_SKILL_CODE" />
		<result property="recruitSkillName" column="RSK_RECRUIT_SKILL_NAME" />
		<result property="recruitSkillDelDate" column="RSK_RECRUIT_SKILL_DEL_DATE" />
	</resultMap>

	<resultMap id="recruitProcessMap" type="kr.or.ddit.vo.recruitment.RecruitProcessVO">
		<id property="recruitProcessNo" column="REPR_RECRUIT_PROCESS_NO" />
		<result property="recruitProcessStep" column="REPR_RECRUIT_PROCESS_STEP" />
		<result property="recruitProcessFinal" column="REPR_RECRUIT_PROCESS_FINAL" />
		<result property="recruitProcessType" column="REPR_RECRUIT_PROCESS_TYPE" />
		<result property="recruitProcessDelDate" column="REPR_RECRUIT_PROCESS_DEL_DATE" />
	</resultMap>

	<resultMap id="recruitmentNoticeMap" type="kr.or.ddit.vo.recruitment.RecruitmentNoticeVO">
		<id property="recruitmentNo" column="RENO_RECRUITMENT_NO" />
		<result property="userId" column="RENO_USER_ID" />
		<result property="recruitmentTitle" column="RENO_RECRUITMENT_TITLE" />
		<result property="jobCode" column="RENO_JOB_CODE" />
		<result property="yearCode" column="RENO_YEAR_CODE" />
		<result property="recContent" column="RENO_REC_CONTENT" />
		<result property="preferential" column="RENO_PREFERENTIAL" />
		<result property="cityCode" column="RENO_CITY_CODE" />
		<result property="districtCode" column="RENO_DISTRICT_CODE" />
		<result property="recPositionNumber" column="RENO_REC_POSITION_NUMBER" />
		<result property="recruitmentChargerTel" column="RENO_RECRUITMENT_CHARGER_TEL" />
		<result property="recruitmentSalary" column="RENO_RECRUITMENT_SALARY" />
		<result property="welfare" column="RENO_WELFARE" />
		<result property="recruitmentDesk" column="RENO_RECRUITMENT_DESK" />
		<result property="recruitmentImg" column="RENO_RECRUITMENT_IMG" />
		<result property="recruitmentStartdate" column="RENO_RECRUITMENT_STARTDATE" />
		<result property="recruitmentReceiptStart" column="RENO_RECRUITMENT_RECEIPT_START" />
		<result property="recruitmentFinishDate" column="RENO_RECRUITMENT_FINISH_DATE" />
		<result property="recruitmentDelDate" column="RENO_RECRUIMENT_DEL_DATE" />

		<association property="company" resultMap="companyMap" />
		<association property="education" resultMap="recruitmentEducationMap" />
		<collection property="positionList" resultMap="recruitmentPositionMap" />
		<collection property="skillList" resultMap="recruitmentSkillMap" />
		<collection property="processList" resultMap="recruitProcessMap" />
	</resultMap>
	
	<select id="selectMyRecruitNotice" resultType="java.util.HashMap">
	SELECT
		R.RECRUITMENT_NO AS recruitmentNo,
		R.RECRUITMENT_TITLE AS recruitmentTitle,
		R.JOB_CODE AS jobCode,
		R.YEAR_CODE as yearCode,
		R.RECRUITMENT_STARTDATE AS recruitmentStartDate,
		R.RECRUITMENT_FINISH_DATE AS recruitmentFinishDate,
		R.RECRUITMENT_SALARY AS salary,
		R.CITY_CODE AS cityCode,
		R.DISTRICT_CODE AS districtCode,
		R.REC_CONTENT AS recContent,
		COUNT(A.APPLICANT_ID) AS applicantCount
	FROM
	RECRUITMENT_NOTICE R
	LEFT JOIN
	APPLICANT A ON R.RECRUITMENT_NO = A.RECRUITMENT_NO
	WHERE R.USER_ID = #{userId}
	GROUP BY
		R.RECRUITMENT_NO,
		R.RECRUITMENT_TITLE,
		R.JOB_CODE,
		R.YEAR_CODE,
		R.RECRUITMENT_STARTDATE,
		R.RECRUITMENT_FINISH_DATE,
		R.RECRUITMENT_SALARY,
		R.CITY_CODE,
		R.DISTRICT_CODE,
		R.REC_CONTENT
	ORDER BY
		R.RECRUITMENT_STARTDATE DESC
	</select>
	
	<select id="selectApplicatedNotice">
	SELECT
		R.RECRUITMENT_NO AS recruitmentNo,
		R.RECRUITMENT_TITLE AS recruitmentTitle,
		R.JOB_CODE AS jobCode,
		R.YEAR_CODE as yearCode,
		R.RECRUITMENT_STARTDATE AS recruitmentStartDate,
		R.RECRUITMENT_FINISH_DATE AS recruitmentFinishDate,
		R.RECRUITMENT_SALARY AS salary,
		R.CITY_CODE AS cityCode,
		R.DISTRICT_CODE AS districtCode,
		R.REC_CONTENT AS recContent,
		COUNT(A.APPLICANT_ID) AS applicantCount
	FROM
	RECRUITMENT_NOTICE R
	LEFT JOIN
	APPLICANT A ON R.RECRUITMENT_NO = A.RECRUITMENT_NO
	WHERE A.USER_ID = #{userId}
	GROUP BY
		R.RECRUITMENT_NO,
		R.RECRUITMENT_TITLE,
		R.JOB_CODE,
		R.YEAR_CODE,
		R.RECRUITMENT_STARTDATE,
		R.RECRUITMENT_FINISH_DATE,
		R.RECRUITMENT_SALARY,
		R.CITY_CODE,
		R.DISTRICT_CODE,
		R.REC_CONTENT
	ORDER BY
		R.RECRUITMENT_STARTDATE DESC
	</select>

	<select id="salaryRecruitment" resultType="RecruitmentNoticeVO">
		SELECT USER_ID
		, RECRUITMENT_TITLE
		, JOB_CODE
		, RECRUITMENT_IMG
		, RECRUITMENT_SALARY
		FROM
		RECRUITMENT_NOTICE
		ORDER BY RECRUITMENT_SALARY
		DESC

	</select>

	<select id="realTimeRecruitment">
		SELECT RECRUITMENT_NO,
		USER_ID,
		RECRUITMENT_SALARY,
		RECRUITMENT_FINISH_DATE
		FROM RECRUITMENT_NOTICE
		ORDER BY
		RECRUITMENT_STARTDATE DESC
	</select>

	<select id="selectliveRecruitmentDetail"
		resultMap="recruitmentNoticeMap">
	SELECT
	-- RECRUITMENT_NOTICE
	rn.RECRUITMENT_NO                       AS RENO_RECRUITMENT_NO,
	rn.USER_ID                              AS RENO_USER_ID,
	rn.RECRUITMENT_TITLE                    AS RENO_RECRUITMENT_TITLE,
	rn.JOB_CODE                             AS RENO_JOB_CODE,
	rn.YEAR_CODE                            AS RENO_YEAR_CODE,
	rn.REC_CONTENT                          AS RENO_REC_CONTENT,
	rn.PREFERENTIAL                         AS RENO_PREFERENTIAL,
	rn.CITY_CODE                            AS RENO_CITY_CODE,
	rn.DISTRICT_CODE                        AS RENO_DISTRICT_CODE,
	rn.REC_POSITION_NUMBER                  AS RENO_REC_POSITION_NUMBER,
	rn.RECRUITMENT_CHARGER_TEL              AS RENO_RECRUITMENT_CHARGER_TEL,
	rn.RECRUITMENT_SALARY                   AS RENO_RECRUITMENT_SALARY,
	rn.WELFARE                              AS RENO_WELFARE,
	rn.RECRUITMENT_DESK                     AS RENO_RECRUITMENT_DESK,
	rn.RECRUITMENT_IMG                      AS RENO_RECRUITMENT_IMG,
	rn.RECRUITMENT_STARTDATE                AS RENO_RECRUITMENT_STARTDATE,
	rn.RECRUITMENT_RECEIPT_START            AS RENO_RECRUITMENT_RECEIPT_START,
	rn.RECRUITMENT_FINISH_DATE              AS RENO_RECRUITMENT_FINISH_DATE,
	rn.RECRUITMENT_DEL_DATE                 AS RENO_RECRUITMENT_DEL_DATE,
	rn.RECRUIT_FINISH_YN					AS RENO_RECRUIT_FINISH_YN,

	-- COMPANY
	c.USER_ID                               AS COM_USER_ID,
	c.COM_NAME                              AS COM_NAME,
	c.COM_INFO                              AS COM_INFO,
	c.COM_NUM                               AS COM_NUM,
	c.COM_EMAIL  							AS COM_EMAIL,
	c.COM_URL 								AS COM_URL,
	c.COM_CREATE_YEAR 						AS COM_CREATE_YEAR,
	c.COM_MEM 								AS COM_MEM,
	c.COM_LOGO 								AS COM_LOGO,
	c.COM_PAYMENT 							AS COM_PAYMENT,
	c.INDUSTRY_TYPE							AS INDUSTRY_TYPE,

	-- RECRUITMENT_EDUCATION (1:1)
	re.RECRUITMENT_EDUCATION_CODE 			AS EDU_RECRUITMENT_EDUCATION_CODE,
	re.CODE_DETAIL_NO 						AS EDU_CODE_DETAIL_NO,
	re.RECRUITMENT_EDU_DEL_DATE 			AS EDU_RECRUITMENT_EDU_DEL_DATE,

	-- RECRUITMENT_POSITION (1:N)
	rp.RECRUITMENT_POSITION_CODE 			AS REP_RECRUITMENT_POSITION_CODE,
	rp.CODE_DETAIL_NO 						AS REP_CODE_DETAIL_NO,
	rp.RECRUITMENT_POSITION_DEL_DATE 		AS REP_RECRUITMENT_POSITION_DEL_DATE,

	-- RECRUITMENT_SKILL (1:N)
	rs.RECRUIT_SKILL_CODE	 				AS RSK_RECRUIT_SKILL_CODE,
	rs.RECRUIT_SKILL_NAME 					AS RSK_RECRUIT_SKILL_NAME,
	rs.RECRUIT_SKILL_DEL_DATE 				AS RSK_RECRUIT_SKILL_DEL_DATE,

	-- RECRUIT_PROCESS (1:N)
	rp2.RECRUIT_PROCESS_NO 					AS REPR_RECRUIT_PROCESS_NO,
	rp2.RECRUIT_PROCESS_STEP 				AS REPR_RECRUIT_PROCESS_STEP,
	rp2.RECRUIT_PROCESS_FINAL 				AS REPR_RECRUIT_PROCESS_FINAL,
	rp2.RECRUIT_PROCESS_TYPE 				AS REPR_RECRUIT_PROCESS_TYPE,
	rp2.RECRUIT_PROCESS_DEL_DATE 			AS REPR_RECRUIT_PROCESS_DEL_DATE

	FROM RECRUITMENT_NOTICE rn
	JOIN COMPANY c
	ON rn.USER_ID = c.USER_ID
	LEFT JOIN RECRUITMENT_EDUCATION re
	ON rn.RECRUITMENT_NO = re.RECRUITMENT_NO
	LEFT JOIN RECRUITMENT_POSITION rp
	ON rn.RECRUITMENT_NO = rp.RECRUITMENT_NO
	LEFT JOIN RECRUITMENT_SKILL rs
	ON rn.RECRUITMENT_NO = rs.RECRUITMENT_NO
	LEFT JOIN RECRUIT_PROCESS rp2
	ON rn.RECRUITMENT_NO = rp2.RECRUITMENT_NO
	WHERE rn.RECRUITMENT_NO = #{recruitmentNo}
	</select>



	<insert id="insertRecruitmentNotice">
		<selectKey resultType="string" keyProperty="recruitmentNo"
			order="BEFORE">
			SELECT
			'RECR'||
			LPAD(NVL(TO_NUMBER(SUBSTR(MAX(RECRUITMENT_NO),
			LENGTH('RECR' ) + 1)), 0) + 1, 6, '0')
			FROM RECRUITMENT_NOTICE
		</selectKey>
		INSERT INTO RECRUITMENT_NOTICE (
		RECRUITMENT_NO
		, USER_ID
		, RECRUITMENT_TITLE
		, JOB_CODE
		, YEAR_CODE
		, REC_CONTENT
		, PREFERENTIAL
		, CITY_CODE
		, DISTRICT_CODE
		, REC_POSITION_NUMBER
		, RECRUITMENT_CHARGER_TEL
		, RECRUITMENT_SALARY
		, WELFARE
		, RECRUITMENT_DESK
		, RECRUITMENT_IMG
		, RECRUITMENT_STARTDATE
		, RECRUITMENT_RECEIPT_START
		, RECRUITMENT_FINISH_DATE
		)VALUES (
		#{recruitmentNo}
		, #{userId}
		, #{recruitmentTitle}
		, #{jobCode}
		, #{yearCode}
		, #{recContent}
		, #{preferential}
		, #{cityCode}
		, #{districtCode}
		, #{recPositionNumber}
		, #{recruitmentChargerTel}
		, #{recruitmentSalary}
		, #{welfare}
		, #{recruitmentDesk}
		, #{recruitmentImg}
		, SYSDATE
		, #{recruitmentReceiptStart}
		, #{recruitmentFinishDate}
		)
	</insert>

	<update id="updateRecruitmentNotice">
		UPDATE RECRUITMENT_NOTICE SET
		USER_ID = #{userId}
		,
		JOB_CODE =#{jobCode}
		, YEAR_CODE = #{yearCode}
		, REC_CONTENT =
		#{recContent}
		, PREFERENTIAL = #{preferential}
		, CITY_CODE = #{cityCode}
		, DISTRICT_CODE = #{districtCode}
		, REC_POSITION_NUMBER =
		#{recPositionNumber}
		, RECRUITMENT_CHARGER_TEL =
		#{recruitmentChargerTel}
		, RECRUITMENT_SALARY= #{recruitmentSalary}
		,
		WELFARE = #{welfare}
		, RECRUITMENT_DESK =#{recruitmentDesk}
		,
		RECRUITMENT_IMG = #{recruitmentImg}
		, RECRUITMENT_STARTDATE =
		#{recruitmentStartdate}
		, RECRUITMENT_RECEIPT_START =
		#{recruitmentReceiptStart}
		, RECRUITMENT_FINISH_DATE =
		#{recruitmentFinishDate}
		, RECRUITMENT_TITLE =#{recruitmentTitle}
		WHERE
		RECRUITMENT_NO = #{recruitmentNo}
	</update>

	<select id="readRecruitmentNoticeList"
		resultType="RecruitmentNoticeVO">
		SELECT
		RECRUITMENT_NO
		, USER_ID, JOB_CODE
		, YEAR_CODE,
		REC_CONTENT
		, PREFERENTIAL
		, CITY_CODE
		, DISTRICT_CODE
		,
		REC_POSITION_NUMBER
		, RECRUITMENT_CHARGER_TEL
		, RECRUITMENT_SALARY
		,
		WELFARE
		, RECRUITMENT_DESK
		, RECRUITMENT_IMG
		, RECRUITMENT_STARTDATE
		,
		RECRUITMENT_RECEIPT_START
		, RECRUITMENT_FINISH_DATE
		, RECRUITMENT_TITLE
		FROM RECRUITMENT_NOTICE
	</select>

	<update id="deleteRecruitmentNotice">
		UPDATE RECRUITMENT_NOTICE SET
		RECRUITMENT_DEL_DATE =
		SYSDATE
		WHERE RECRUITMENT_NO = #{recruitmentNo}
	</update>
	
	<update id="updateRecruitDeadLine">
		UPDATE RECRUITMENT_NOTICE SET
		RECRUIT_FINISH_YN = 'Y'
		WHERE RECRUITMENT_NO = #{recruitmentNo}
	</update>
	
	
	
	<select id="selectRecruitNoticeByUserId" resultType="RecruitmentNoticeVO">	       
		 SELECT 
		    RECRUITMENT_NO,
		    USER_ID,
		    JOB_CODE,
		    YEAR_CODE,
		    REC_CONTENT,
		    PREFERENTIAL,
		    CITY_CODE,
		    DISTRICT_CODE,
		    REC_POSITION_NUMBER,
		    RECRUITMENT_CHARGER_TEL,
		    RECRUITMENT_SALARY,
		    WELFARE,
		    RECRUITMENT_DESK,
		    RECRUITMENT_IMG,
		    RECRUITMENT_STARTDATE,
		    RECRUITMENT_RECEIPT_START,
		    RECRUITMENT_FINISH_DATE,
		    RECRUITMENT_TITLE,
		    RECRUITMENT_DEL_DATE,
		    RECRUIT_FINISH_YN
		  FROM RECRUITMENT_NOTICE
		  WHERE USER_ID = #{userId}
		ORDER BY RECRUITMENT_STARTDATE DESC
	</select>
	
	<resultMap id="recruitmentNoticeDtoMap" type="kr.or.ddit.dto.RecruitmentNoticeDTO">
	    <id property="recruitmentNo" column="RECRUITMENT_NO"/>
	    <result property="recruitmentTitle" column="RECRUITMENT_TITLE"/>
	    <result property="userId" column="USER_ID"/>
	    <result property="noticeCnt" column="NOTICE_CNT"/>
	    <result property="viewCnt" column="VIEW_CNT"/>	    
	    <result property="scrabCnt" column="SCRAB_CNT"/>	    
	    <result property="comName" column="COM_NAME"/>
	    <result property="jobCode" column="JOB_CODE"/>
	    <result property="jobName" column="JOB_NAME"/>
	    <result property="yearCode" column="YEAR_CODE"/>
	    <result property="yearCodeName" column="YEAR_CODE_NAME"/>
	    <result property="preferential" column="PREFERENTIAL"/>
	    <result property="cityCode" column="CITY_CODE"/>
	    <result property="cityName" column="CITY_NAME"/>
	    <result property="districtCode" column="DISTRICT_CODE"/>
	    <result property="districtName" column="DISTRICT_NAME"/>
	    <result property="recruitmentSalary" column="RECRUITMENT_SALARY"/>
	    <result property="recruitmentImg" column="RECRUITMENT_IMG"/>
	    <result property="recruitmentStartDate" column="RECRUITMENT_STARTDATE"/>
	    <result property="recruitmentFinishDate" column="RECRUITMENT_FINISH_DATE"/>
	    <result property="recruitFinishYn" column="RECRUIT_FINISH_YN"/>
	    <result property="recContent" column="REC_CONTENT"/>
	
	    <!-- 학력: 단일 -->
	    <association property="education" javaType="kr.or.ddit.dto.RecruitmentEducationDTO">
	        <result property="recruitmentEducationCode" column="RECRUITMENT_EDUCATION_CODE"/>
	        <result property="educationCodeDetailNo" column="CODE_DETAIL_NO"/>
	        <result property="recruitmentEducationCodeName" column="RECRUITMENT_EDUCATION_CODE_NAME"/>
	    </association>
	    <!-- 포지션: 여러개 -->
	    <collection property="positionList" ofType="kr.or.ddit.dto.RecruitmentPositionDTO">
	        <result property="recruitmentPositionCode" column="RECRUITMENT_POSITION_CODE"/>
	        <result property="positionCodeDetailNo" column="CODE_DETAIL_NO"/>
	        <result property="recruitmentPositionCodeName" column="RECRUITMENT_POSITION_CODE_NAME"/>
	    </collection>
	    <!-- 스킬: 여러개 -->
	    <collection property="skillList" ofType="kr.or.ddit.dto.RecruitmentSkillDTO">
	        <result property="recruitSkillCode" column="RECRUIT_SKILL_CODE"/>
	        <result property="recruitSkillName" column="RECRUIT_SKILL_NAME"/>
	    </collection>
	</resultMap>

	<!-- <select id="selectRecruitNoticeDtoList" resultMap="recruitmentNoticeDtoMap">
		SELECT
		    (SELECT COUNT(*) FROM RECRUITMENT_NOTICE WHERE RECRUITMENT_DEL_DATE IS NULL) AS NOTICE_CNT
    		, RN.RECRUITMENT_NO
		    , RN.RECRUITMENT_TITLE
		    , RN.USER_ID
		    , (SELECT COM_NAME FROM COMPANY WHERE USER_ID = RN.USER_ID) AS COM_NAME
		    
		    , RN.JOB_CODE
		    , (SELECT JOB_NAME FROM JOB WHERE JOB_CODE = RN.JOB_CODE) AS JOB_NAME
		    
		    , RN.YEAR_CODE
		    , (SELECT CODE_NAME FROM CMN_CODE WHERE CODE_DETAIL_NO = RN.YEAR_CODE) AS YEAR_CODE_NAME
		    
		    , RN.PREFERENTIAL
		    , RN.CITY_CODE
		    , (SELECT CITY_NAME FROM CITY_CODE WHERE CITY_CODE_NO = RN.CITY_CODE) AS CITY_NAME
		    
		    , RN.DISTRICT_CODE
		    , (SELECT DISTRICT_NAME FROM DISTRICT_CODE WHERE DISTRICT_CODE_NO = RN.DISTRICT_CODE) AS DISTRICT_NAME
		    
		    , RN.RECRUITMENT_SALARY
		    , RN.RECRUITMENT_IMG
		    , RN.RECRUITMENT_STARTDATE
		    , RN.RECRUITMENT_FINISH_DATE
		    , RN.RECRUIT_FINISH_YN
		    
		    , RP.RECRUITMENT_POSITION_CODE
		    , RP.CODE_DETAIL_NO
		    , (SELECT CODE_NAME FROM CMN_CODE WHERE CODE_DETAIL_NO = RP.CODE_DETAIL_NO) AS RECRUITMENT_POSITION_CODE_NAME
		
		    , RE.RECRUITMENT_EDUCATION_CODE
		    , RE.CODE_DETAIL_NO
		    , (SELECT CODE_NAME FROM CMN_CODE WHERE CODE_DETAIL_NO = RE.CODE_DETAIL_NO) AS RECRUITMENT_EDUCATION_CODE_NAME
		    
		    , RS.RECRUIT_SKILL_CODE
		    , RS.RECRUIT_SKILL_NAME
		    
		    , RN.REC_CONTENT
		FROM RECRUITMENT_NOTICE RN
		
		LEFT OUTER JOIN RECRUITMENT_POSITION RP
		ON RN.RECRUITMENT_NO = RP.RECRUITMENT_NO
		AND RP.RECRUITMENT_POSITION_DEL_DATE IS NULL
		
		LEFT OUTER JOIN RECRUITMENT_EDUCATION RE
		ON RN.RECRUITMENT_NO = RE.RECRUITMENT_NO
		AND RE.RECRUITMENT_EDU_DEL_DATE IS NULL
		
		LEFT OUTER JOIN RECRUITMENT_SKILL RS
		ON RN.RECRUITMENT_NO = RS.RECRUITMENT_NO
		AND RS.RECRUIT_SKILL_DEL_DATE IS NULL
		
		WHERE RN.RECRUITMENT_DEL_DATE IS NULL
		ORDER BY RN.RECRUITMENT_STARTDATE DESC
	</select> -->
	
	<select id="selectRecruitNoticeDtoList" resultMap="recruitmentNoticeDtoMap">
		SELECT b.*
			, RP.RECRUITMENT_POSITION_CODE
			, RP.CODE_DETAIL_NO AS POSITION_CODE_DETAIL_NO
			, (SELECT CODE_NAME FROM CMN_CODE WHERE CODE_DETAIL_NO = RP.CODE_DETAIL_NO) AS RECRUITMENT_POSITION_CODE_NAME
			
			, RE.RECRUITMENT_EDUCATION_CODE
			, RE.CODE_DETAIL_NO AS EDUCATION_CODE_DETAIL_NO
			, (SELECT CODE_NAME FROM CMN_CODE WHERE CODE_DETAIL_NO = RE.CODE_DETAIL_NO) AS RECRUITMENT_EDUCATION_CODE_NAME
			
			, RS.RECRUIT_SKILL_CODE
			, RS.RECRUIT_SKILL_NAME
		FROM (
			SELECT ROWNUM rnum, a.*
			FROM (
		  
				SELECT
				    (SELECT COUNT(*) FROM RECRUITMENT_NOTICE WHERE RECRUITMENT_DEL_DATE IS NULL AND RECRUIT_FINISH_YN = 'N') AS NOTICE_CNT
				    , (SELECT COUNT(*) FROM RECRUIT_VIEW WHERE RECRUITMENT_NO = RN.RECRUITMENT_NO) AS VIEW_CNT
				    , (SELECT COUNT(*) FROM SCRAB_RECRUITMENT WHERE RECRUITMENT_NO = RN.RECRUITMENT_NO) AS SCRAB_CNT
				  	, RN.RECRUITMENT_NO
				    , RN.RECRUITMENT_TITLE
				    , RN.USER_ID
				    , (SELECT COM_NAME FROM COMPANY WHERE USER_ID = RN.USER_ID) AS COM_NAME
				    
				    , RN.JOB_CODE
				    , (SELECT JOB_NAME FROM JOB WHERE JOB_CODE = RN.JOB_CODE) AS JOB_NAME
				    
				    , RN.YEAR_CODE
				    , (SELECT CODE_NAME FROM CMN_CODE WHERE CODE_DETAIL_NO = RN.YEAR_CODE) AS YEAR_CODE_NAME
				    
				    , RN.PREFERENTIAL
				    , RN.CITY_CODE
				    , (SELECT CITY_NAME FROM CITY_CODE WHERE CITY_CODE_NO = RN.CITY_CODE) AS CITY_NAME
				    
				    , RN.DISTRICT_CODE
				    , (SELECT DISTRICT_NAME FROM DISTRICT_CODE WHERE DISTRICT_CODE_NO = RN.DISTRICT_CODE) AS DISTRICT_NAME
				    
				    , RN.RECRUITMENT_SALARY
				    , RN.RECRUITMENT_IMG
				    , RN.RECRUITMENT_STARTDATE
				    , RN.RECRUITMENT_FINISH_DATE
				    , RN.RECRUIT_FINISH_YN
				    
				    , RN.REC_CONTENT
				FROM RECRUITMENT_NOTICE RN
				WHERE RN.RECRUITMENT_DEL_DATE IS NULL
				AND RN.RECRUIT_FINISH_YN = 'N'
				<if test="sort != null">
					ORDER BY
					<choose>
						<when test="sort == 'RD'"> RN.RECRUITMENT_STARTDATE DESC </when>
						<when test="sort == 'EA'"> RN.RECRUITMENT_FINISH_DATE ASC </when>
						<when test="sort == 'RL'"> SCRAB_CNT DESC </when>
						<when test="sort == 'RE'"> VIEW_CNT DESC </when>
						<otherwise> RN.RECRUITMENT_STARTDATE DESC </otherwise>
					</choose>
			    </if>
				) a
			WHERE ROWNUM &lt;= #{endRow}
		) b
		LEFT OUTER JOIN RECRUITMENT_POSITION RP
		ON b.RECRUITMENT_NO = RP.RECRUITMENT_NO
		AND RP.RECRUITMENT_POSITION_DEL_DATE IS NULL
		
		LEFT OUTER JOIN RECRUITMENT_EDUCATION RE
		ON b.RECRUITMENT_NO = RE.RECRUITMENT_NO
		AND RE.RECRUITMENT_EDU_DEL_DATE IS NULL
		
		LEFT OUTER JOIN RECRUITMENT_SKILL RS
		ON b.RECRUITMENT_NO = RS.RECRUITMENT_NO
		AND RS.RECRUIT_SKILL_DEL_DATE IS NULL
		WHERE rnum &gt; #{startRow}
	</select>

</mapper>