<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.recruitment.RecruitProcessMapper">
	
	
	<select id="selectRecruitprocessList" resultType="RecruitProcessVO">
	SELECT 
		RECRUIT_PROCESS_NO
		, RECRUITMENT_NO
		, COMPANY_NAME
		, RECRUIT_PROCESS_STEP
		, RECRUIT_PROCESS_FINAL
		, RECRUIT_PROCESS_TYPE 
	FROM RECRUIT_PROCESS
	</select>
	
	<select id="selectRecruitprocess" resultType="RecruitProcessVO">
	SELECT 
		RECRUIT_PROCESS_NO
		, RECRUITMENT_NO
		, COMPANY_NAME
		,RECRUIT_PROCESS_STEP
		, RECRUIT_PROCESS_FINAL
		, RECRUIT_PROCESS_TYPE 
	FROM RECRUIT_PROCESS 
	WHERE RECRUIT_PROCESS_NO = #{recruitProcessNo}
	</select>

	<insert id="insertRecruitProcess">
	 	<selectKey resultType="string" keyProperty="recruitProcessNo" order="BEFORE">
		    SELECT
		        'PROC'||
		        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(RECRUIT_PROCESS_NO), LENGTH('PROC' ) + 1)), 0) + 1, 6, '0')
		    FROM RECRUIT_PROCESS
		</selectKey>
			INSERT INTO RECRUIT_PROCESS (
				RECRUIT_PROCESS_NO
				, RECRUITMENT_NO
				, COMPANY_NAME
				, RECRUIT_PROCESS_STEP
				, RECRUIT_PROCESS_FINAL
				, RECRUIT_PROCESS_TYPE
			) VALUES (
				#{recruitProcessNo}
				, #{recruitmentNo}
				, #{companyName}
				, #{recruitProcessStep}
				, #{recruitProcessFinal}
				, #{recruitProcessType}
			)
	</insert>
	
	<update id="updateRecruitProcess">
	UPDATE RECRUIT_PROCESS SET 
		RECRUITMENT_NO = #{recruitmentNo}
		, COMPANY_NAME = #{companyName}
		, RECRUIT_PROCESS_STEP = #{recruitProcessStep}
		, RECRUIT_PROCESS_FINAL = #{recruitProcessFinal}
		, RECRUIT_PROCESS_TYPE = #{recruitProcessType} 
	WHERE RECRUIT_PROCESS_NO = #{recruitProcessNo}
	</update>
	
	<delete id="deleteRecruitProcess">
		UPDATE RECRUIT_PROCESS SET
			RECRUIT_PROCESS_DEL_DATE = SYSDATE
		WHERE RECRUI_PROCESS_NO = #{recruitProcessNo}
	</delete>


</mapper>