<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.recruitment.VideoInterviewMapper">
	<select id="selectVideoInterviewList" resultType="VideoInterviewVO">
		SELECT 
			INTERVIEW_NO
			, ROOM_TITLE
			, MAX_JOIN_COUNT
			, START_DATE
			, END_DATE
			, COMPANY_INTERVIEW_URL
			, VIDEO_INTERVIEW_DEL_DATE
			, ROOM_ID
		FROM VIDEO_INTERVIEW
	</select>
	
	<select id="selectVideoInterview" resultType="VideoInterviewVO">
		SELECT 
			INTERVIEW_NO
			, ROOM_TITLE
			, MAX_JOIN_COUNT
			, START_DATE
			, END_DATE
			, COMPANY_INTERVIEW_URL
			, VIDEO_INTERVIEW_DEL_DATE
			, ROOM_ID
		FROM VIDEO_INTERVIEW
		WHERE INTERVIEW_NO = #{interviewNo}
	</select>
	
	<insert id="insertVideoInterview">
		INSERT INTO VIDEO_INTERVIEW (
			INTERVIEW_NO
			, ROOM_TITLE
			, MAX_JOIN_COUNT
			, START_DATE
			, END_DATE
			, COMPANY_INTERVIEW_URL
			, VIDEO_INTERVIEW_DEL_DATE
			, ROOM_ID
		) VALUES (
			#{interviewNo}
			, #{roomTitle}
			, #{maxJoinCount}
			, TO_DATE(REPLACE(#{startDate}, 'T', ' '), 'YYYY-MM-DD HH24:MI')
			, TO_DATE(REPLACE(#{endDate}, 'T', ' '), 'YYYY-MM-DD HH24:MI')
			, #{companyInterviewUrl}
			, #{videoInterviewDelDate}
			, #{roomId}
		)
	</insert>
	
	<update id="updateVideoInterview">
	    UPDATE VIDEO_INTERVIEW
	    SET
	        ROOM_TITLE = #{roomTitle},
	        MAX_JOIN_COUNT = #{maxJoinCount},
	        START_DATE = TO_DATE(REPLACE(#{startDate}, 'T', ' '), 'YYYY-MM-DD HH24:MI'),
	        END_DATE = TO_DATE(REPLACE(#{endDate}, 'T', ' '), 'YYYY-MM-DD HH24:MI'),
	        COMPANY_INTERVIEW_URL = #{companyInterviewUrl},
	        VIDEO_INTERVIEW_DEL_DATE = #{videoInterviewDelDate},
	        ROOM_ID = #{roomId}
	    WHERE INTERVIEW_NO = #{interviewNo}
	</update>

	<select id="getCompanyVideoURL" resultType="string" parameterType="map">
		SELECT VIIN.COMPANY_INTERVIEW_URL
		FROM VIDEO_INTERVIEW VIIN, INTERVIEW INTE, RECRUIT_PROCESS PEPR, RECRUITMENT_NOTICE RENO
		WHERE VIIN.INTERVIEW_NO = INTE.INTERVIEW_NO
		AND INTE.PROCESS_NO = PEPR.RECRUIT_PROCESS_NO
		AND PEPR.RECRUITMENT_NO = RENO.RECRUITMENT_NO
		AND VIIN.INTERVIEW_NO = #{interviewNo}
		AND RENO.USER_ID = #{userId}
		
<!-- 		AND VIIN.INTERVIEW_NO = #{interviewNo} -->
<!-- 		AND RENO.USER_ID = #{userId} -->
	</select>
	
	
</mapper>