<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.recruitment.VideoInterviewMapper">
	<select id="selectVideoInterviewList" resultType="VideoInterviewVO">
	SELECT 
		VIDEO_INTERVIEW_NO
		, INTERVIEW_NO
		, VIDEO_INTERVIEW_START_TIME
		, VIDEO_INTERVIEW_END_TIME
		, VIDEO_INTERVIEW_STATUS
		, VIDEO_INTERVIEW_URL
	 FROM VIDEO_INTERVIEW
	</select>
	
	<select id="selectVideoInterview" resultType="VideoInterviewVO">
	SELECT 
		VIDEO_INTERVIEW_NO
		, INTERVIEW_NO
		, VIDEO_INTERVIEW_START_TIME
		, VIDEO_INTERVIEW_END_TIME
		, VIDEO_INTERVIEW_STATUS
		, VIDEO_INTERVIEW_URL 
	FROM VIDEO_INTERVIEW 
	WHERE VIDEO_INTERVIEW_NO = #{videoInterviewNo} 
	</select>
	
	<insert id="insertVideoInterview">
	<selectKey resultType="string" keyProperty="videoInterviewNo" order="BEFORE">
    SELECT
        'VITV'||
        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(VIDEO_INTERVIEW_NO), LENGTH('VITV' ) + 1)), 0) + 1, 6, '0')
    FROM VIDEO_INTERVIEW
	</selectKey>
	INSERT INTO VIDEO_INTERVIEW (
		VIDEO_INTERVIEW_NO
		, INTERVIEW_NO
		, VIDEO_INTERVIEW_START_TIME
		, VIDEO_INTERVIEW_END_TIME
		, VIDEO_INTERVIEW_STATUS
		, VIDEO_INTERVIEW_URL
	) VALUES (
		#{videoInterviewNo}
		, #{interviewNo}
		, TO_DATE(#{videoInterviewStartTime}, 'YYYY-MM-DD HH24:MI')
		, TO_DATE(#{videoInterviewEndTime}, 'YYYY-MM-DD HH24:MI')
		, #{videoInterviewStatus}
		, #{videoInterviewUrl}
	)
	</insert>
	
	<update id="updateVideoInterview">
	UPDATE VIDEO_INTERVIEW SET 
		VIDEO_INTERVIEW_START_TIME = TO_DATE(#{videoInterviewStartTime}, 'YYYY-MM-DD HH24:MI')
		, VIDEO_INTERVIEW_END_TIME = TO_DATE(#{videoInterviewEndTime}, 'YYYY-MM-DD HH24:MI')
		, VIDEO_INTERVIEW_STATUS = #{videoInterviewStatus}
		, VIDEO_INTERVIEW_URL = #{videoInterviewUrl}
	WHERE VIDEO_INTERVIEW_NO = #{videoInterviewNo} 
	</update>
	
	<delete id="deleteVideoInterview">
	DELETE FROM VIDEO_INTERVIEW 
	WHERE VIDEO_INTERVIEW_NO = #{videoInterviewNo} 
	</delete>
</mapper>