.introduct_form {
    position: relative;
    width: 847px;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    grid-gap: 8px;
    gap: 8px;
    padding: 24px 30px 24px 37px;
    background: var(--white);
    border-radius: 8px;
    z-index: 1;
    filter: drop-shadow(0 4px 16px rgba(17, 42, 128, .08));
}

.introduct_form:before {
    width: 7px;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    background: var(--violet70);
    content: "";
    z-index: 2;
    border-radius: 8px 0 0 8px;
}