<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.community.AdminBoardMapper">

	<resultMap type="AdminBoardVO" id="adminBoardMap" autoMapping="true">
		<id property="boardNo" column="BOARD_NO"/>		
		<association property="users" javaType="UsersVO" autoMapping="true"/>
		<collection property="adminCommentList" javaType="list" ofType="AdminCommentVO">
			<id property="boardCommentNo" column="BOARD_COMMENT_NO"/>
			<result property="userId" column="COMMENT_USER_ID"/>
			<result property="boardNo" column="COMMENT_BOARD_NO"/>
			<result property="boardCommentContent" column="BOARD_COMMENT_CONTENT"/>
			<result property="boardWriteDate" column="COMMENT_BOARD_WRITE_DATE"/>
			<result property="boardDeleteDate" column="COMMENT_BOARD_DELETE_DATE"/>
			<result property="boardCommentStatus" column="BOARD_COMMENT_STATUS"/>
		</collection>
	</resultMap>

	<select id="selectAdminBoardByPk" resultMap="adminBoardMap">
		WITH ADMIN_BOARD_VIEW AS (
            SELECT 
				  BOARD_NO
				, USER_ID
				, BOARD_TYPE_CODE
				, BOARD_TITLE
				, BOARD_WRITE_DATE
				, BOARD_CONTENT
				, BOARD_DELETE_DATE
				, BOARD_POST_HIT
				, BOARD_STATUS 
			FROM ADMIN_BOARD NATURAL JOIN USERS
	        WHERE BOARD_NO = #{boardNo}
		)
		SELECT
            ADMIN_BOARD_VIEW.*
               , BOARD_COMMENT_NO
               , ADMIN_COMMENT.USER_ID AS COMMENT_USER_ID
               , ADMIN_COMMENT.BOARD_NO AS COMMENT_BOARD_NO
               , BOARD_COMMENT_CONTENT
               , ADMIN_COMMENT.BOARD_WRITE_DATE AS COMMENT_BOARD_WRITE_DATE
               , ADMIN_COMMENT.BOARD_DELETE_DATE AS COMMENT_BOARD_DELETE_DATE
               , BOARD_COMMENT_STATUS
	           , BOARD_COMMENT_CONTENT
	           , BOARD_COMMENT_STATUS
		FROM ADMIN_BOARD_VIEW LEFT OUTER JOIN ADMIN_COMMENT 
        ON (ADMIN_BOARD_VIEW.BOARD_NO = ADMIN_COMMENT.BOARD_NO)
	</select>

	<select id="selectAdminBoardListByType">
		SELECT 
		       BOARD_NO
		     , USER_ID
		     , BOARD_TYPE_CODE
		     , BOARD_TITLE
		     , BOARD_CONTENT
		     , BOARD_STATUS
		FROM ADMIN_BOARD
		WHERE BOARD_TYPE_CODE = #{boardTypeCode}
	</select>

	<select id="selectAdminBoardList" resultMap="adminBoardMap">
		SELECT 
			  A.BOARD_NO
			, A.USER_ID
			, A.BOARD_TYPE_CODE
			, A.BOARD_TITLE
			, A.BOARD_CONTENT
			, A.BOARD_STATUS
		FROM ADMIN_BOARD A
		INNER JOIN USERS U 
			ON A.USER_ID = U.USER_ID
		WHERE A.USER_ID = #{userId}
	</select>
	
	<!-- 
		boardTypeCode
		BRDD-001(문의사항) => BOARD_TYPE_CODE : null
		BRDD-002(FAQ) => BOARD_TYPE_CODE : UFAQ-U1
		BRDD-003(공지사항) => BOARD_TYPE_CODE : UFAQ
	
		할아버지AdminBoardVO(boardNo=null, userId=testAdmin, boardTypeCode=BRDD-002, boardTitle=제목 연습, boardWriteDate=null, boardContent=내용 연습, boardDeleteDate=null, boardPostHit=null, boardStatus=null, codeName=null, users=null, adminCommentList=null, 
		cmnCodeGroupVOList=[
			첫째아빠CmnCodeGroupVO(codeGroupNo=UFAQ, codeGroupName=null, description=null, useYn=null, crateDate=null, updateDate=null, 
				cmnCodeList=[
					첫째딸CmnCodeVO(codeDetailNo=UFAQ-U1, codeGroupNo=null, upperCodeNo=null, codeName=null, sortOrder=null, useYn=null, crateDate=null, updateDate=null)
				])
		])
	-->
	<insert id="insertAdminBoard" parameterType="AdminBoardVO">
		<selectKey resultType="string" keyProperty="boardNo" order="BEFORE">
		    SELECT
		        'ABNO'||
		        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(BOARD_NO), LENGTH('ABNO' ) + 1)), 0) + 1, 6, '0')
		    FROM ADMIN_BOARD
		</selectKey>
		
		INSERT INTO ADMIN_BOARD (
			  BOARD_NO
			, USER_ID
			, BOARD_TYPE_CODE
			, BOARD_TITLE
			, BOARD_WRITE_DATE
			, BOARD_CONTENT
			, BOARD_POST_HIT
			, BOARD_STATUS
		) VALUES (
			  #{boardNo}
			, #{userId}
			<if test="boardTypeCode!=null and boardTypeCode!=''">
				<choose>
					<when test='boardTypeCode=="BRDD-002"'>
						, #{cmnCodeGroupVOList[0].cmnCodeList[0].codeDetailNo}
					</when>
					<otherwise>
						, #{boardTypeCode}
					</otherwise>
				</choose>
			</if>
			, #{boardTitle}
			, sysdate
			, #{boardContent}
			, 0
			, 'R'
		)
	</insert>

	<update id="updateAdminBoard" parameterType="AdminBoardVO">
		UPDATE ADMIN_BOARD 
		SET 
			  USER_ID = #{userId}
			, BOARD_TYPE_CODE = #{boardTypeCode}
			, BOARD_TITLE = #{boardTitle}
			, BOARD_CONTENT = #{boardContent}
			, BOARD_DELETE_DATE = #{boardDeleteDate}
			, BOARD_POST_HIT = #{boardPostHit}
			, BOARD_STATUS = 'U'
		WHERE 
			BOARD_NO = #{boardNo}
	</update>

	<delete id="deleteAdminBoard">
		DELETE FROM 
			ADMIN_BOARD 
		WHERE 
			BOARD_NO = #{boardNo}
	</delete>
	
</mapper>