<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.community.AdminBoardMapper">

	<resultMap type="AdminBoardVO" id="adminBoardMap" autoMapping="true">
		<id property="boardNo" column="BOARD_NO"/>		
		<association property="users" javaType="UsersVO" autoMapping="true"/>
		<collection property="adminCommentList" javaType="list" ofType="AdminCommentVO">
			<id property="boardCommentNo" column="BOARD_COMMENT_NO"/>  <!-- 같은 이름 컬럼이 있어 둘다 id 넣어줌 -->
			<result property="userId" column="USER_ID"/>  <!-- result엔 다른 VO와 중복되지 않고, 가져올 컬럼만 적음 -->
			<result property="boardCommentContent" column="BOARD_COMMENT_CONTENT"/>
			<result property="boardCommentStatus" column="BOARD_COMMENT_STATUS"/>
		</collection>
	</resultMap>

	<select id="selectAdminBoardByPk" resultMap="adminBoardMap">
		WITH ADMIN_BOARD_VIEW AS (
            SELECT 
				  BOARD_NO
				, USER_ID
				, BOARD_TYPE_CODE
				, BOARD_TITLE
				, BOARD_WRITE_DATE
				, BOARD_CONTENT
				, BOARD_DELETE_DATE
				, BOARD_POST_HIT
				, BOARD_STATUS 
			FROM ADMIN_BOARD NATURAL JOIN USERS
	        WHERE BOARD_NO = #{boardNo}
		)
		SELECT
            ADMIN_BOARD_VIEW.*
            , BOARD_COMMENT_CONTENT
            , BOARD_COMMENT_STATUS
		FROM ADMIN_BOARD_VIEW LEFT OUTER JOIN ADMIN_COMMENT 
        ON (ADMIN_BOARD_VIEW.BOARD_NO = ADMIN_COMMENT.BOARD_NO)
	</select>

	<select id="selectAdminBoardListByType" resultMap="adminBoardMap">
		SELECT 
			   A.BOARD_NO
			 , A.USER_ID
			 , A.BOARD_TYPE_CODE
			 , A.BOARD_TITLE
			 , A.BOARD_CONTENT
			 , A.BOARD_STATUS
		FROM ADMIN_BOARD A
		INNER JOIN USERS U 
			ON A.USER_ID = U.USER_ID
		WHERE A.USER_ID = #{userId}
			AND A.BOARD_TYPE_CODE = #{boardTypeCode}
	</select>

	<select id="selectAdminBoardList" resultMap="adminBoardMap">
		SELECT 
			  A.BOARD_NO
			, A.USER_ID
			, A.BOARD_TYPE_CODE
			, A.BOARD_TITLE
			, A.BOARD_CONTENT
			, A.BOARD_STATUS
		FROM ADMIN_BOARD A
		INNER JOIN USERS U 
			ON A.USER_ID = U.USER_ID
		WHERE A.USER_ID = #{userId}
	</select>
	
	<insert id="insertAdminBoard" parameterType="AdminBoardVO">
		INSERT INTO ADMIN_BOARD (
		<selectKey resultType="string" keyProperty="boardNo" order="BEFORE">
		    SELECT
		        'ABNO'||
		        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(BOARD_NO), LENGTH('ABNO' ) + 1)), 0) + 1, 6, '0')
		    FROM ADMIN_BOARD
		</selectKey>
			  BOARD_NO
			, USER_ID
			, BOARD_TYPE_CODE
			, BOARD_TITLE
			, BOARD_WRITE_DATE
			, BOARD_CONTENT
			, BOARD_POST_HIT
			, BOARD_STATUS
		) VALUES (
			  #{boardNo}
			, #{userId}
			, #{boardTypeCode}
			, #{boardTitle}
			, sysdate
			, #{boardContent}
			, 0
			, 'R'
		)
	</insert>

	<update id="updateAdminBoard" parameterType="AdminBoardVO">
		UPDATE ADMIN_BOARD 
		SET 
			  USER_ID = #{userId}
			, BOARD_TYPE_CODE = #{boardTypeCode}
			, BOARD_TITLE = #{boardTitle}
			, BOARD_CONTENT = #{boardContent}
			, BOARD_DELETE_DATE = #{boardDeleteDate}
			, BOARD_POST_HIT = #{boardPostHit}
			, BOARD_STATUS = #{boardStatus} 
		WHERE 
			BOARD_NO = #{boardNo}
	</update>

	<delete id="deleteAdminBoard">
		DELETE FROM 
			ADMIN_BOARD 
		WHERE 
			BOARD_NO = #{boardNo}
	</delete>
	
</mapper>