<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.community.CommuBoardMapper">

	<resultMap type="CommuBoardVO" id="adminBoardMap" autoMapping="true">
		<id property="commuPostNo" column="COMMU_POST_NO"/>		
		<association property="avatars" javaType="AvatarVO" autoMapping="true"/>
		<collection property="commuCommentList" javaType="list" ofType="CommuCommentVO">
			<id property="commuCommentNo" column="COMMU_COMMENT_NO"/>  <!-- 같은 이름 컬럼이 있어 둘다 id 넣어줌 -->
			<result property="avatarId" column="AVATAR_ID"/>  <!-- result엔 다른 VO와 중복되지 않고, 가져올 컬럼만 적음 -->
			<result property="commuCommentContent" column="COMMU_COMMENT_CONTENT"/>
			<result property="commuCommentWriteDate" column="COMMU_COMMENT_WRITE_DATE"/>
			<result property="commuCommentStatus" column="COMMU_COMMENT_STATUS"/>
			<result property="commuCommentDeleteDate" column="COMMU_COMMENT_DELETE_DATE"/>
		</collection>
	</resultMap>
	
	<select id="selectCommuBoardByPk" resultMap="adminBoardMap">
		WITH COMMU_BOARD_VIEW AS (
            SELECT 
				  COMMU_POST_NO
				, AVATAR_ID
				, COMMU_TITLE
				, COMMU_CONTENTS
				, CATEGORY_CODE
				, COMMU_WRITE_DATE
				, COMMU_POST_HIT
				, COMMU_POST_STATUS
				, COMMU_DELETE_DATE 
			FROM COMMU_BOARD NATURAL JOIN AVATAR
	        WHERE COMMU_POST_NO = 'CMBD000001'
		)
		SELECT
              COMMU_BOARD_VIEW.*
            , COMMU_COMMENT_CONTENT
            , COMMU_COMMENT_WRITE_DATE
            , COMMU_COMMENT_STATUS
            , COMMU_COMMENT_DELETE_DATE
		FROM COMMU_BOARD_VIEW LEFT OUTER JOIN COMMU_COMMENT 
        ON (COMMU_BOARD_VIEW.COMMU_POST_NO = COMMU_COMMENT.COMMU_POST_NO)
	</select>

	<select id="selectCommuBoardListByCate">
		SELECT 
			  COMMU_POST_NO
			, AVATAR_ID
			, COMMU_TITLE
			, COMMU_CONTENTS
			, CATEGORY_CODE
			, COMMU_WRITE_DATE
			, COMMU_POST_HIT
			, COMMU_POST_STATUS
			, COMMU_DELETE_DATE 
		FROM 
			COMMU_BOARD
		WHERE
			CATEGORY_CODE = #{categoryCode}
	</select>
	
	<insert id="insertCommuBoard" parameterType="CommuBoardVO">
		INSERT INTO 
			COMMU_BOARD (
		<selectKey resultType="string" keyProperty="commuPostNo" order="BEFORE">
		    SELECT
		        'CMBD'||
		        LPAD(NVL(TO_NUMBER(SUBSTR(MAX(COMMU_POST_NO), LENGTH('CMBD' ) + 1)), 0) + 1, 6, '0')
		    FROM 
		    	COMMU_BOARD
		</selectKey>
			  COMMU_POST_NO
			, AVATAR_ID
			, COMMU_TITLE
			, COMMU_CONTENTS
			, CATEGORY_CODE
			, COMMU_WRITE_DATE
			, COMMU_POST_HIT
			, COMMU_POST_STATUS
		) VALUES (
			  #{commuPostNo}
			, #{avatarId}
			, #{commuTitle}
			, #{commuContents}
			, #{categoryCode}
			, sysdate
			, 0
			, #{commuPostStatus}
		)
	</insert>
	
	<update id="updateCommuBoard" parameterType="CommuBoardVO">
		UPDATE 
			COMMU_BOARD 
		SET 
			  AVATAR_ID = #{avatarId}
			, COMMU_TITLE = #{commuTitle}
			, COMMU_CONTENTS = #{commuContents}
			, CATEGORY_CODE = #{categoryCode}
			, COMMU_WRITE_DATE = #{commuWriteDate}
			, COMMU_POST_HIT = #{commuPostHit}
			, COMMU_POST_STATUS = #{commuPostStatus}
			, COMMU_DELETE_DATE = #{commuDeleteDate} 
		WHERE 
			COMMU_POST_NO = #{commuPostNo}
	</update>
	
	<delete id="deleteCommuBoard">
		DELETE FROM 
			COMMU_BOARD 
		WHERE 
			COMMU_POST_NO = #{commuPostNo}
	</delete>
</mapper>



