<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.community.CompanyReviewMapper">
  
  <resultMap id="questionMap"
             type="kr.or.ddit.vo.community.CompanyReviewQuestionVO"
             autoMapping="true">
  </resultMap>


 <resultMap id="reviewWithQuestionsMap" type="kr.or.ddit.vo.community.CompanyReviewVO">
    <id     property="companyReviewNo"       column="COMPANY_REVIEW_NO"/>
 
    <result property="jobCode"                column="JOB_CODE"/>
    <result property="workingYn"              column="WORKING_YN"/>
    <result property="companyReviewStatus"    column="COMPANY_REVIEW_STATUS"/>
    <result property="companyReviewOneLine"   column="COMPANY_REVIEW_ONE_LINE"/>
    <result property="userId"                 column="USER_ID"/>


    <collection property="companyReviewQuestion" ofType="kr.or.ddit.vo.community.CompanyReviewQuestionVO">
      <id     property="companyReviewQuestionNo" column="COMPANY_REVIEW_QUESTION_NO"/>
      <result property="reviewSubjectCode"         column="REVIEW_SUBJECT_CODE"/>
      <result property="companyReviewScore"        column="COMPANY_REVIEW_SCORE"/>
    </collection>
  </resultMap>


	<select id="selectCompanyList">
		SELECT 
			USER_ID, 
			COM_NAME, 
			COM_INFO, 
			COM_NUM, 
			COM_EMAIL, 
			COM_URL, 
			COM_CREATE_YEAR, 
			COM_MEM, 
			COM_LOGO,
			COM_PAYMENT, 
			INDUSTRY_TYPE
		FROM COMPANY
	</select>
	
	
	<select id="">
	
	
	</select>
	

	

	

	
	
	
</mapper>